.container {
    display: flex;
    flex-direction: column;
    .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
    .form-control {
        width: 300px;
        height: 48px;
        padding-left: 16px;
        flex-shrink: 0;
        border-radius: 10px;
        border: none;
        background: #fff;
        margin: 15px;
        border: 1px solid #9b9b9b;
        margin-bottom: -5px;
        &:focus {
            border: 1px solid #007bff;
            outline: none;
            outline: none;
            transition: 0.5s;
        }
    }
    #nome {
        padding-left: 16px;
    }
    .inputBox {
        position: relative;
        .labelInput {
            position: absolute;
            top: 31px;
            left: 8px;
            pointer-events: none;
            transition: 0.4s;
            color: rgb(0, 0, 0);
            font-size: 16px;
            text-shadow: 2px 0px 20px #fff;
            z-index: 9999;
            background-color: #fff;
            margin: 20px;
        }
        .labelInput::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition: 0.4s;
            color: #222;
        }   
        .form-control:focus~.labelInput,
        .form-control:not(:placeholder-shown)~.labelInput {
            top: 10%;
            font-size: 16px;
            color: #000000;
        }
    }
}