.container {
    width: 600px;
    flex-direction: column;
    align-items: center;
    margin-left: 500px;

    .header-size {
        text-align: center; 
        align-items: center;

        h1 {
            margin: 32px 0px 12px 0px;
            color: #000;
            font-family: Poppins;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .sub-title {
            color: #000;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 32px;
        }
    }

    .main-size {

        p {
            margin-bottom: 32px;
        }

        .options-size {
            display: flex;
            gap: 16px;
            margin-bottom: 32px;
            
            .option-size {
                width: 146px;
                height: 48px;
                flex-shrink: 0;
                border-radius: 8px;
                border: 1px solid #D9D9D9;
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-align: center;
                padding: 12px 0px 12px 0px;
                transition: 0.5s;
                background-color: transparent;
                cursor: pointer;
                &:hover{
                    border: 1.5px solid #447981;
                    background-color: #EBFBFD;
                }
            }
            .option-chose {
                width: 146px;
                height: 48px;
                flex-shrink: 0;
                border-radius: 8px;
                border: 1.5px solid #447981;
                background-color: #EBFBFD;
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-align: center;
                padding: 12px 0px 12px 0px;
                transition: 0.5s;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }

    .entrega {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;

        label {
            input {
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                cursor: pointer;
            }
        }

        p {
            width: 300px;
            margin-bottom: 0;
        }

        .date {
            width: 278px;
            height: 30px;                
            padding-left: 10px;
            margin-left: 50px;
            cursor: pointer;
        }
            
    }

    .footer-size {
        margin-top: 81px;
        display: flex;
        gap: 7px;
            

                .footer-barra-description-verde {
                    width: 152px;
                    height: 10px;
                    flex-shrink: 0;
                    border-radius: 6px 0px 0px 6px;
                    background: #127369;
                }

                .footer-barra-description-verde2 {
                    width: 152px;
                    height: 10px;
                    flex-shrink: 0;
                    background: #127369;
                }

                .footer-barra-description {
                    width: 152px;
                    height: 10px;
                    flex-shrink: 0;
                    background: #D9D9D9;
                }

                .footer-barra-description-final {
                    margin-bottom: 100px;
                    width: 152px;
                    height: 10px;
                    flex-shrink: 0;
                    border-radius: 0px 6px 6px 0px;
                    background: #D9D9D9;
                }
    }

    .bottom {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        margin-bottom: 60px;
        .return-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 26px;
            column-gap: 10px;
        }
        button {
            border: none;
            width: 176px;
            height: 46px;
            flex-shrink: 0;
            background-color: #0B2F34;
            stroke-width: 1px;
            stroke: #7A7A7A;
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 35px;
            transition: .3s;
            cursor: pointer;

        }
        button:hover {
            box-shadow: 0px 0px 8px 1px #374044;
        }
    }
}