.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cadastro {
        color: #000;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 32px;
        margin-top: 81px;
    }

    .main-option {
        width: 700px;


        p {
            margin-bottom: 32px;
        }
        
        .options {
            display: flex;
            gap: 10px;
            margin-bottom: 32px;
            min-width: 145px;


            .option {
                min-width: 145px;
                height: 45px;
                flex-shrink: 0;
                border-radius: 7px;
                border: 1px solid #B4B4B4;
                background: rgba(217, 217, 217, 0.00);

                label {
                    width: 145px;
                    height: 40px;
                    padding: 8px 18px 8px 7px;
                    
                    input {
                        margin: 12px 7px 12px 5px;
                    }
                }

            }
        }
    }

    .footer-types {
        margin-top: 81px;
        margin-bottom: 43px;
        display: flex;
        gap: 7px;
            

                .footer-barra-description-verde {
                    width: 152px;
                    height: 10px;
                    flex-shrink: 0;
                    border-radius: 6px 0px 0px 6px;
                    background: #127369;
                }

                .footer-barra-description-verde2 {
                    width: 152px;
                    height: 10px;
                    flex-shrink: 0;
                    background: #127369;
                }

                .footer-barra-description {
                    width: 152px;
                    height: 10px;
                    flex-shrink: 0;
                    background: #D9D9D9;
                }

                .footer-barra-description-final {
                    margin-bottom: 100px;
                    width: 152px;
                    height: 10px;
                    flex-shrink: 0;
                    border-radius: 0px 6px 6px 0px;
                    background: #D9D9D9;
                }
    }
    
    .router-link {
        margin-bottom: 40px;
        margin-left: 230px;
        button {
            cursor: pointer;
            width: 176px;
            height: 46px;
            flex-shrink: 0;
            background-color: #0B2F34;
            stroke-width: 1px;
            stroke: #7A7A7A;
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 35px;
        }
    }
}