.main-project {
  display: flex;
  width: 100%;
  padding: 64px 0px 32px 80px;
}

/* Estilo para telas de até 1920px */
@media (max-width: 1920px) {
  .main-project {
    display: flex;
    margin-left: 0px;
    padding: 64px 0px 32px 100px; /* Aumentei o padding à esquerda */
  }
}

/* Estilo para telas de até 1440px */
@media (max-width: 1440px) {
  .main-project {
    display: flex;
    margin-left: 0px;
    padding: 64px 0px 32px 80px; /* Padding um pouco menor do que em 1920px */
  }
}

/* Estilo para telas de até 1024px */
@media (max-width: 1024px) {
  .main-project {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 50px 0px 20px 40px; /* Ajustei o padding para menos espaçamento */
  }
}

/* Estilo para telas de até 768px */
@media (max-width: 768px) {
  .main-project {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 40px 0px 20px 20px; /* Menos padding para telas menores */
  }
}

/* Estilo para telas de até 425px */
@media (max-width: 425px) {
  .main-project {
    display: flex;
    flex-direction: column;
    padding: 32px 0px 16px 15px; /* Ajustei para tela ainda mais estreita */
  }
}

/* Estilo para telas de até 320px */
@media (max-width: 320px) {
  .main-project {
    display: flex;
    flex-direction: column;
    padding: 0; /* Menor padding para telas de celulares */
    align-items: center;
}
}
