.main-project {
  display: flex;
  width: 100%;
  height: 1000px;
  padding: 64px 0px 32px 80px;

  .search {
    width: 308px;
    height: 828px;
    border-radius: 11px;
    border: 1px solid #d9d9d9;
    background: #fff;

    .inputSearch {
      flex-shrink: 0;
      fill: #fff;
      stroke-width: 1px;
      stroke: #d9d9d9;
      border-radius: 10px;

      .inputBox {
        position: relative;

        .form-group {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .form-control {
          width: 276px;
          height: 51px;
          flex-shrink: 0;
          border-radius: 10px;
          border: 2px solid #bfbfbf;
          background: #ffffff;
          margin: 15px;
          outline: none;
        }
        .searchlabelInput {
          position: absolute;
          top: 10px;
          left: 10px;
          pointer-events: none;
          transition: 0.4s;
          color: #bfbfbf;
          font-size: 16px;
          z-index: 9999;
          background-color: #ffffff;
          margin: 20px;
        }
        .searchlabelInput::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          transition: 0.4s;
          color: #bfbfbf;
        }
        .form-control {
          padding: 10px 0;
        }

        .form-control:focus ~ .searchlabelInput,
        .form-control:not(:placeholder-shown) ~ .searchlabelInput {
          top: -18%;
          font-size: 16px;
          color: #bfbfbf;
        }

        input {
          margin-bottom: 10px;
        }
      }
    }
    .categories {
      width: 100%;
      height: 600px;
      margin-left: 20px;

      .category {
        width: 100%;
        height: 20px;
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 275;
        line-height: normal;
        margin: 10px;

        input {
          width: 16px;
          height: 16px;
          flex-shrink: 0;
        }
      }
    }
    .bottom-search {
      color: #000;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 265px;
      padding: 0px 27px 32px 16px;
    }
  }

}

.selectProject {
  display: flex;
  width: 848px;
  height: px;
  flex-shrink: 0;
  border: 1px solid #D9D9D9;
  margin-left: 62px;
  padding: 16px;
  fill: #F9F9F9;
  stroke-width: 1px;
  stroke: #D9D9D9;
  border-radius: 12px;

  .select {
    .select-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .select-header {
      flex-grow: 1;
      p {
        color: #000;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    
    .select-header2 {
      flex-shrink: 0;
      width: auto;
      min-width: 128px;
      color: #1B75BF;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .select-main-container {

      .select-subTitle {
        padding: 16px;
        display: flex;
        gap: 20px;
        color: #000;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 275;
        line-height: normal;
      }
      .select-text {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
  }

  .select-bottom-container {
      padding: 16px;
      display: flex;
      gap: 16px;
      .select-bottom {
        padding: 16px;
        width: 87px;
        height: 20px;
        flex-shrink: 0;
        border-radius: 35px;
        background: #E6E6E6;
        display: flex;
        justify-content: center; 
        align-items: center; 
          
        p {
            width: 65px;
            height: 14px;
            flex-shrink: 0;
            color: #777;
            font-family: Poppins;
            font-size: 10px;
            font-style: normal;
            font-weight: 275;
            line-height: 1; 
            margin: 0; 
            text-align: center; 
          }
      } 
  }
  .select-footer-container {
    display: flex;
    .select-footer-img {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 500px;
    }
    .select-footer-descrition {
      padding: 0px 18px 16px 18px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .p-container {
        display: flex;
        gap: 18px;
        .select-footer-text2 {
          color: #000;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 275;
          line-height: normal;
        }
    }
    
    .select-footer-images {
      display: flex;
      gap: 20px; 
    }
        
    }
  }
    .select-footer-proposal {
      display: flex; 
      width: 200px;
      height: 50px;
      margin-left: auto;
      padding: 10px 20px;
      background-color: #1B75BF;
      border-radius: 40px;
      justify-content: center;
      align-items: center;

        p {
          color: #FFF;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
  }

}
}

