.main-project {
  display: flex;
  width: 100%;
  padding: 64px 0px 32px 80px;

}

@media (max-width: 320px) {
  .main-project {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .main-project {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
}