.search {
    display: flexbox;
    width: 308px;
    height: 828px;
    border-radius: 11px;
    border: 1px solid #d9d9d9;
    background: #fff;

    .inputSearch {
      flex-shrink: 0;
      fill: #fff;
      stroke-width: 1px;
      stroke: #d9d9d9;
      border-radius: 10px;

      .inputBox {
        position: relative;

        .form-group {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        .form-control {
          width: 276px;
          height: 51px;
          flex-shrink: 0;
          border-radius: 10px;
          border: 2px solid #bfbfbf;
          background: #ffffff;
          margin: 15px;
          outline: none;
        }

        .searchlabelInput {
          position: absolute;
          top: 10px;
          left: 10px;
          pointer-events: none;
          transition: 0.4s;
          color: #bfbfbf;
          font-size: 16px;
          z-index: 9999;
          background-color: #ffffff;
          margin: 20px;
        }

        .searchlabelInput::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          transition: 0.4s;
          color: #bfbfbf;
        }

        .form-control {
          padding: 10px 0;
        }

        .form-control:focus~.searchlabelInput,
        .form-control:not(:placeholder-shown)~.searchlabelInput {
          top: -18%;
          font-size: 16px;
          color: #bfbfbf;
        }

        input {
          margin-bottom: 10px;
        }
      }
    }

    .categories {
      width: 100%;
      height: 400px;
      margin-left: 20px;

      .category {
        width: 100%;
        height: 20px;
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 275;
        line-height: normal;
        margin: 10px;

        input {
          width: 16px;
          height: 16px;
          flex-shrink: 0;
        }
      }
    }

    .bottom-search {
      color: #000;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 265px;
      padding: 0px 27px 32px 16px;
    }
}


@media (max-width: 320px) {
      .search{
        display: flex;
        width: 150px;
        height: 508px;
        flex-direction: column;

        
        .inputSearch {
          width: 100px;
        }
        #search  {
          width: 120px;
        }
        .inputBox {

          width: 100px;
          
          .form-control {
            width: 50px;
            height: 30px;
            flex-shrink: 0;
            border-radius: 10px;
          }
        }
      
        .categories {
          width: 130px;
          height: 300px;
          margin-left: 5px;
          .category {
            font-size: 10px;
          }
        }

        .bottom-search {

          p {
            width: 100px;
            font-size: 10px;
          }
        }
      }

}

@media (max-width: 425px) {
  .search{
    display: flex;
    width: 150px;
    height: 508px;
    flex-direction: column;

    
    .inputSearch {
      width: 100px;
    }
    #search  {
      width: 120px;
    }
    .inputBox {

      width: 100px;
      
      .form-control {
        width: 50px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 10px;
      }
    }
  
    .categories {
      width: 130px;
      height: 300px;
      margin-left: 5px;
      .category {
        font-size: 10px;
      }
    }

    .bottom-search {

      p {
        width: 100px;
        font-size: 10px;
      }
    }
  }
  
}