.search {
    display: flexbox;
    width: 308px;
    height: 828px;
    border-radius: 11px;
    border: 1px solid #d9d9d9;
    background: #fff;

    .inputSearch {
      flex-shrink: 0;
      fill: #fff;
      stroke-width: 1px;
      stroke: #d9d9d9;
      border-radius: 10px;

      .inputBox {
        position: relative;

        .form-group {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        .form-control {
          width: 276px;
          height: 51px;
          flex-shrink: 0;
          border-radius: 10px;
          border: 2px solid #bfbfbf;
          background: #ffffff;
          margin: 15px;
          outline: none;
        }

        .searchlabelInput {
          position: absolute;
          top: 10px;
          left: 10px;
          pointer-events: none;
          transition: 0.4s;
          color: #bfbfbf;
          font-size: 16px;

          background-color: #ffffff;
          margin: 20px;
        }

        .searchlabelInput::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          transition: 0.4s;
          color: #bfbfbf;
        }

        .form-control {
          padding: 10px 0;
        }

        .form-control:focus~.searchlabelInput,
        .form-control:not(:placeholder-shown)~.searchlabelInput {
          top: -18%;
          font-size: 16px;
          color: #bfbfbf;
        }

        input {
          margin-bottom: 10px;
        }
      }
    }

    .categories {
      width: 100%;
      height: 400px;
      margin-left: 20px;

      .category {
        width: 100%;
        height: 20px;
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 275;
        line-height: normal;
        margin: 10px;

        input {
          width: 16px;
          height: 16px;
          flex-shrink: 0;
        }
      }
    }

    .bottom-search {
      color: #000;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 265px;
      padding: 0px 27px 32px 16px;
    }
}

/* Estilo para telas com largura mínima de 1920px */
@media (max-width: 1920px) {
  .search {
    display: flex;
    width: 30vh;  /* Aumentando a largura do search em telas grandes */
    height: 700px;
    flex-direction: column;
    margin-top: 50px;
  }

  .inputSearch {
    width: 400px; /* Aumentando a largura do inputSearch */
  }

  #search {
    width: 25vh;
  }

  .inputBox {
    width: 200px;

    .form-control {
      width: 150px;
      height: 40px;
      border-radius: 10px;
    }
  }

  .categories {
    width: 300px;
    height: 400px;
    margin-left: 15px;

    .category {
      font-size: 18px;
    }
  }

  .bottom-search {
    p {
      width: 250px;
      font-size: 14px;
    }
  }
}

/* Estilo para telas com largura mínima de 1440px */
@media (max-width: 1440px) {
  .search {
    display: flexbox;
    width: 308px;
    height: 828px;
    border-radius: 11px;
    border: 1px solid #d9d9d9;
    background: #fff;
  }

  #search {
    width: 280px;
  }

  .inputSearch {
    flex-shrink: 0;
    fill: #fff;
    stroke-width: 1px;
    stroke: #d9d9d9;
    border-radius: 10px;

    .inputBox {
      position: relative;

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .form-control {
        width: 276px;
        height: 51px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 2px solid #bfbfbf;
        background: #ffffff;
        margin: 15px;
        outline: none;
      }

      .searchlabelInput {
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
        transition: 0.4s;
        color: #bfbfbf;
        font-size: 16px;

        background-color: #ffffff;
        margin: 20px;
      }

      .searchlabelInput::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: 0.4s;
        color: #bfbfbf;
      }

      .form-control {
        padding: 10px 0;
      }

      .form-control:focus~.searchlabelInput,
      .form-control:not(:placeholder-shown)~.searchlabelInput {
        top: -18%;
        font-size: 16px;
        color: #bfbfbf;
      }

      input {
        margin-bottom: 10px;
      }
    }
  }

  .categories {
    width: 100%;
    height: 400px;
    margin-left: 20px;

    .category {
      width: 100%;
      height: 20px;
      color: #000;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 275;
      line-height: normal;
      margin: 10px;

      input {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
      }
    }
  }

  .bottom-search {
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 265px;
    padding: 0px 27px 32px 16px;
  }
}

/* Estilo para telas de até 1024px */
@media (max-width: 1024px) {
  .search {
    display: flex;
    width: 40vw;  /* Ajustando a largura do search para telas menores */
    height: 400px;
    flex-direction: column;
    margin-top: 50px;
  }

  .inputSearch {
    width: 250px; /* Ajustando o inputSearch */
  }

  #search {
    width: 35vw;
  }

  .inputBox {
    width: 150px;

    .form-control {
      width: 100px;
      height: 35px;
      border-radius: 10px;
    }
  }

  .categories {
    width: 220px;
    height: 300px;
    margin-left: 5px;

    .category {
      font-size: 14px;
    }
  }

  .bottom-search {
    p {
      width: 250px;
      font-size: 16px;
    }
  }
}

/* Estilo para telas de até 768px */
@media (max-width: 768px) {
  .search {
    display: flex;
    width: 280px; /* Ajuste da largura do search para telas ainda menores */
    height: 480px;
    flex-direction: column;
    margin-top: 50px;
  }

  .inputSearch {
    width: 180px; /* Ajuste da largura do inputSearch */
  }

  #search {
    width: 240px;
  }

  .inputBox {
    width: 100px;

    .form-control {
      width: 50px;
      height: 30px;
      flex-shrink: 0;
      border-radius: 10px;
    }
  }

  .categories {
    width: 170px;
    height: 280px;
    margin-left: 5px;

    .category {
      font-size: 12px;
    }
  }

  .bottom-search {
    p {
      width: 230px;
      font-size: 14px;
    }
  }
}

/* Estilo para telas de até 425px */
@media (max-width: 425px) {
  .search {
    display: flex;
    width: 270px; /* Ajuste da largura do search */
    height: 450px;
    flex-direction: column;
    margin-top: 50px;
  }

  .inputSearch {
    width: 180px;  /* Ajuste da largura do inputSearch */
  }

  #search {
    width: 240px;
  }

  .inputBox {
    width: 90px;

    .form-control {
      width: 50px;
      height: 30px;
      flex-shrink: 0;
      border-radius: 10px;
    }
  }

  .categories {
    width: 160px;
    height: 260px;
    margin-left: 5px;

    .category {
      font-size: 12px;
    }
  }

  .bottom-search {
    p {
      width: 220px;
      font-size: 14px;
    }
  }
}

/* Estilo para telas de até 320px */
@media (max-width: 320px) {
  .search {
    display: flex;
    width: 200px;  /* Ajuste da largura do search para telas pequenas */
    height: 450px;
    flex-direction: column;
    margin-top: 50px;
  }

  .inputSearch {
    width: 120px;  /* Ajuste da largura do inputSearch */
  }

  #search {
    width: 120px;
  }

  .inputBox {
    width: 80px;

    .form-control {
      width: 40px;
      height: 25px;
      flex-shrink: 0;
      border-radius: 10px;
    }
  }

  .categories {
    width: 130px;
    height: 220px;
    margin-left: 5px;

    .category {
      font-size: 10px;
    }
  }

  .bottom-search {
    p {
      width: 100px;
      font-size: 10px;
    }
  }
}
