.main-search {
  margin-top: 1rem;
  margin-left: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 308px;
  height: auto;
  max-height: 828px;
  border-radius: 11px;
  border: 1px solid #b1adad;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.inputSearch {
  flex-shrink: 0;
  fill: #fff;
  stroke-width: 1px;
  stroke: #d9d9d9;
  border-radius: 10px;
  width: 100%;
}

.inputBox {
  position: relative;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-control {
  width: 100%;
  height: 51px;
  border-radius: 10px;
  border: 2px solid #bfbfbf;
  background: #ffffff;
  padding: 10px;
  outline: none;
  margin: 15px 0;
}

.searchlabelInput {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.4s;
  color: #bfbfbf;
  font-size: 16px;
  background-color: #ffffff;
  margin: 20px;
}

.searchlabelInput::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.4s;
  color: #bfbfbf;
}

.form-control:focus ~ .searchlabelInput,
.form-control:not(:placeholder-shown) ~ .searchlabelInput {
  top: -18%;
  font-size: 16px;
  color: #bfbfbf;
}

.inputBox input {
  margin-bottom: 10px;
}

/* Estilo da categoria */
.categories {
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-top: 20px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 275;
  margin: 10px 0;
}

.category input {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.bottom-search {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 0px 27px 32px 20px;
}

@media (min-width: 1920px) {
  .search {
    width: 600px;
    height: auto;
  }

  .inputSearch {
    width: 400px;
  }

  .inputBox .form-control {
    width: 16.5rem;
    height: 50px;
  }

  .categories {
    width: 300px;
    margin-left: 15px;
  }

  .category {
    font-size: 18px;
  }

  .bottom-search p {
    font-size: 20px;
  }
}

/* Para telas maiores que 1440px e até 1920px */
@media (min-width: 1440px) and (max-width: 1919px) {
  .search {
    width: 500px;
  }

  .inputSearch {
    width: 350px;
  }

  .categories {
    width: 270px;
  }

  .category {
    font-size: 16px;
  }
}

/* Para telas até 1024px */
@media (max-width: 1024px) {
  .search {
    width: 90%;
    height: auto;
    max-width: 400px;
  }

  .inputSearch {
    width: 80%;
  }

  .categories {
    width: 100%;
  }

  .category {
    font-size: 14px;
  }

  .bottom-search p {
    font-size: 16px;
  }
}

/* Para telas até 768px */
@media (max-width: 768px) {
  .search {
    width: 90%;
    max-width: 280px;
    height: auto;
  }

  .inputSearch {
    width: 70%;
  }

  .categories {
    width: 100%;
    height: auto;
  }

  .category {
    font-size: 12px;
  }

  .bottom-search p {
    font-size: 14px;
  }
}

/* Para telas até 425px */
@media (max-width: 425px) {
  .search {
    width: 90%;
    max-width: 270px;
    height: auto;
  }

  .inputSearch {
    width: 80%;
  }

  .categories {
    width: 100%;
    height: auto;
  }

  .category {
    font-size: 12px;
  }

  .bottom-search p {
    font-size: 12px;
  }
}

/* Para telas até 320px */
@media (max-width: 320px) {
  .search {
    width: 90%;
    max-width: 200px;
    height: auto;
  }

  .inputSearch {
    width: 80%;
  }

  .categories {
    width: 100%;
    height: auto;
  }

  .category {
    font-size: 10px;
  }

  .bottom-search p {
    font-size: 10px;
  }
}
