.selectProject {
    display: flex;
    width: 848px;
    flex-shrink: 0;
    border: 1px solid #D9D9D9;
    margin-left: 62px;
    padding: 16px;
    fill: #F9F9F9;
    stroke-width: 1px;
    stroke: #D9D9D9;
    border-radius: 12px;
  
    .select {
      max-width: 100%;
      .select-header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
  
        .select-header {
          width: 700px;
  
          p {
            color: #000;
            font-family: Poppins;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
  
        .select-header2 {
          flex-shrink: 0;
          width: auto;
          color: #1B75BF;
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          p {
            padding-top: 6px ;
            font-size: 1.2rem;
          }
        }
      }
  
      .select-main-container {
  
        .select-subTitle {
          padding: 16px 16px 16px 0;
          display: flex;
          gap: 20px;
          color: #000;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 275;
          line-height: normal;
        }
  
        .select-text {
          color: #000;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
  
      .select-bottom-container {
        padding: 16px;
        display: flex;
        gap: 16px;
  
        .select-bottom {
          border-radius: 15px;
          border: 1px solid #818080;
          background: #E6E6E6;
          display: flex;
          justify-content: center;
          align-items: center;
  
          p {
            font-size: 1rem;
            font-weight: 275;
            line-height: 1;
            color: #272727;
            font-family: "Poppins", sans-serif;
            text-align: center;
          }
        }
      }
  
      .select-footer-container {
        display: flex;
  
        .select-footer-img {
          width: 40px;
          height: 40px;
          flex-shrink: 0;
          border-radius: 500px;
        }
  
        .select-footer-descrition {
          padding: 0px 18px 16px 18px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
  
          .p-container {
            display: flex;
            align-items: center;
            gap: 18px;
  
            .select-footer-text2 {
              color: #000;
              font-family: Poppins;
              font-size: 12px;
              font-style: normal;
              font-weight: 275;
              line-height: normal;
            }
          }
  
          .select-footer-images {
            display: flex;
            gap: 20px;
          }
  
        }
      }
  
      .select-footer-proposal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        padding: 10px 20px;
        margin-left: auto;
        margin-top: 5px;
        background-color: #1B75BF;
        border-radius: 40px;
        border: none;
        text-decoration: none;
        transition: .3s;
        cursor: pointer;
  
        p {
          color: #FFF;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }

      .select-footer-proposal:hover {
        background-color: #105e9e;
      }
  
    }
  }

/* Estilo para telas com largura mínima de 1920px */
@media (min-width: 1920px) {
  .selectProject {
    margin-top: 20px;
    width: 1200px;  /* Aumentando a largura para telas ainda maiores */
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 20px;
  
    .select {
      align-items: center;
      
      .select-header-container {
        width: 1000px;
        display: flex;
    
        .select-header {
          p {
            // width: 800px;
            // font-size: 32px;  /* Aumentando ainda mais o tamanho da fonte */
          }
        }

        .select-header2 {
          width: 60px;
          font-size: 16px;
          padding-left: 5px;
        }
      }
  
      .select-main-container {
        display: flex;
        flex-direction: column;
  
        .select-subTitle {
          display: flex;
          width: 1000px;
          padding: 20px 20px 20px 15px;
          gap: 100px;
          font-size: 20px;
        }
  
        .select-text {
          width: 900px;
          font-size: 24px;
          margin-bottom: 70px;
        }
  
        .select-bottom-container {
          padding: 12px;
          display: flex;
          gap: 100px;
          margin-bottom: 80px;
  
          .select-bottom {
            width: 280px;
            height: 70px;
  
            p {
              font-size: 18px;
              padding: 6px;
            }
          }
        }
      }
  
      .select-footer-container {
        display: flex;
  
        .p-container {
          font-size: 18px;
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 30px;
        }
  
        .select-footer-proposal {
          width: 300px;
          height: 60px;
          align-items: center;
          margin-left: 0px;
          
          p {
            display: flex;
            font-size: 18px;
          }
        }
      }
    }
  }
}

/* Estilo para telas com largura mínima de 1440px */
@media (min-width: 1440px) {
  .selectProject {
    width: 800px;  /* Aumentando a largura para telas maiores */
    display: flex;
    margin-left: 30px;
    padding: 15px;
  
    .select {
      .select-header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
  
        .select-header {  
          p {
            color: #000;
            font-family: Poppins;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
  
        .select-header2 {
          min-width: 128px;
          p {
            color: #1B75BF;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
  
      .select-main-container {
  
        .select-subTitle {
          padding: 5px 16px 16px 4px;
          display: flex;
          gap: 20px;
          color: #000;
          font-family: Poppins;
          font-size: 0.9rem;
          font-style: normal;
          font-weight: 275;
          line-height: normal;
        }
  
        .select-text {
          color: #000;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
  
      .select-bottom-container {
        padding: 16px 16px 16px 0;
        display: flex;
        gap: 16px;
  
        .select-bottom {
          width: 100px;
          height: 30px;
          flex-shrink: 0;
          background: #E6E6E6;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
  
          p {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1;
            color: #000;
            font-family: "Poppins", sans-serif;
            text-align: center;
          }
        }
      }
  
      .select-footer-container {
        display: flex;
  
        .select-footer-img {
          width: 40px;
          height: 40px;
          flex-shrink: 0;
          border-radius: 500px;
        }
  
        .select-footer-descrition {
          padding: 0px 18px 16px 18px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
  
          .p-container {
            display: flex;
            gap: 18px;
  
            .select-footer-text2 {
              color: #000;
              font-family: Poppins;
              font-size: 12px;
              font-style: normal;
              font-weight: 275;
              line-height: normal;
            }
          }
  
          .select-footer-images {
            display: flex;
            gap: 20px;

            #flag-img {
              position: relative;
              top: 2px;
            }
          }
  
        }
      }
    }
  }  
}


/* Estilo para telas de até 1024px */
@media (max-width: 1024px) {
  .selectProject {
    margin-top: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 5px ;
  
    .select {
      align-items: center;
      
      .select-header-container {
        width: 700px;
        display: flex;
    
        .select-header {
          p {
            width: 500px;
            font-size: 24px;
          }
        }

        .select-header2 {
          width: 30px;
          font-size: 12px;
          padding-left: 1px;
        }
      }
  
      .select-main-container {
        display: flex;
        flex-direction: column;
  
        .select-subTitle {
          display: flex;
          width: 700px;
          padding: 10px 10px 10px 5px;
          display: flex;
          gap: 50px;
          font-size: 16px;
        }
  
        .select-text {
          width: 600px;
          font-size: 20px;
          margin-bottom: 40px;
        }
  
        .select-bottom-container {
          padding: 4px;
          display: flex;
          gap: 50px;
          margin-bottom: 50px;
  
          .select-bottom {
            width: 190px;
            height: 50px;
  
            p {
              font-size: 14px;
              padding: 1px;
            }
          }
        }
      }
  
      .select-footer-container {
        display: flex;
  
        .p-container {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 20px;
        }
  
        .select-footer-proposal {
          width: 180px;
          height: 40px;
          align-items: center;
          margin-left: 0px;
          
          p {
            display: flex;
            font-size: 14px;
          }
        }
      }
    }
  }
}


  @media (max-width: 768px) {
    .selectProject {
      margin-top: 20px;
      width: 400px;
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      padding: 5px ;
    
      .select {
      align-items: center;
        
        .select-header-container {
          width: 400px;
          display: flex;
    
          .select-header {
    
            p {
              width: 200px;
              font-size: 14px;
            }
          }
  
          .select-header2 {
            width: 30px;
            font-size: 12px;
            padding-left: 1px;
          }
        }
  
        .select-main-container {
    
          display: flex;
          flex-direction: column;
  
  
          .select-subTitle {
            display: flex;
            width: 400px;
            padding: 10px 10px 10px 5px;
            display: flex;
            gap: 20px;
            font-size: 10px;
          }
  
          .select-text {
            width: 370px;
            font-size: 12px;
          }
  
          .select-bottom-container {
            padding: 4px;
            display: flex;
            gap: 8px;
  
            .select-bottom {
              width: 120px;
              height: 30px;
  
              p {
                font-size: 10px;
                padding: 2px;
              }
            }
          }
        }
  
        .select-footer-container {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .p-container {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
          }
  
          .select-footer-proposal {
            width: 180px;
            height: 40px;
            align-items: center;
            margin-left: 0px;
            
            p {
              display: flex;
              font-size: 14px;
            }
          }
        }
      }
    }
  }



@media (max-width: 425px) {
  .selectProject {
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 5px ;
  
    .select {
    align-items: center;
      
      .select-header-container {
        width: 300px;
        display: flex;
  
        .select-header {
  
          p {
            width: 140px;
            font-size: 14px;
          }
        }

        .select-header2 {
          width: 30px;
          font-size: 12px;
          padding-left: 1px;
        }
      }

      .select-main-container {
  
        display: flex;
        flex-direction: column;


        .select-subTitle {
          display: flex;
          width: 270px;
          padding: 10px 10px 10px 5px;
          display: flex;
          gap: 20px;
          font-size: 10px;
        }

        .select-text {
          width: 280px;
          font-size: 10px;
        }

        .select-bottom-container {
          padding: 4px;
          display: flex;
          gap: 6px;

          .select-bottom {
            width: 90px;
            height: 30px;

            p {
              font-size: 10px;
              padding: 2px;
            }
          }
        }
      }

      .select-footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .p-container {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 20px;
        }

        .select-footer-proposal {
          width: 180px;
          height: 40px;
          align-items: center;
          margin-left: 0px;
          
          p {
            display: flex;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .selectProject {
    margin-top: 20px;
    width: 180px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 5px ;
  
    .select {
    align-items: center;
      
      .select-header-container {
        width: 250px;
        display: flex;
        flex-direction: column;
  
        .select-header {
  
          p {
            width: 100px;
            font-size: 10px;
          }
        }

        .select-header2 {
          width: 30px;
          font-size: 10px;
          padding-left: 1px;
        }
      }

      .select-main-container {
  
        display: flex;
        flex-direction: column;


        .select-subTitle {
          display: flex;
          flex-direction: column;
          width: 190px;
          padding: 10px 10px 10px 5px;
          display: flex;
          gap: 8px;
          font-size: 8px;
        }

        .select-text {
          width: 150px;
          font-size: 6px;
        }

        .select-bottom-container {
          padding: 4px;
          display: flex;
          gap: 8px;

          .select-bottom {
            width: 50px;
            height: 20px;

            p {
              font-size: 8px;
              padding: 4px;
            }
          }
        }
      }

      .select-footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .p-container {
          font-size: 12px;
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 5px;
        }

        .select-footer-proposal {
          width: 140px;
          height: 40px;
          align-items: center;
          margin-left: 0px;
          
          p {
            display: flex;
            font-size: 12px;
          }
        }
      }
    }
  }
}
