.selectProject {
    display: flex;
    width: 848px;
    height: px;
    flex-shrink: 0;
    border: 1px solid #D9D9D9;
    margin-left: 62px;
    padding: 16px;
    fill: #F9F9F9;
    stroke-width: 1px;
    stroke: #D9D9D9;
    border-radius: 12px;
  
    .select {
      .select-header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
  
        .select-header {
          flex-grow: 1;
  
          p {
            color: #000;
            font-family: Poppins;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
  
        .select-header2 {
          flex-shrink: 0;
          width: auto;
          min-width: 128px;
          padding-left: 80px;
          color: #1B75BF;
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
  
      .select-main-container {
  
        .select-subTitle {
          padding: 16px 16px 16px 0;
          display: flex;
          gap: 20px;
          color: #000;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 275;
          line-height: normal;
        }
  
        .select-text {
          color: #000;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
  
      .select-bottom-container {
        padding: 16px;
        display: flex;
        gap: 16px;
  
        .select-bottom {
          padding: 16px;
          width: 87px;
          height: 20px;
          flex-shrink: 0;
          border-radius: 35px;
          background: #E6E6E6;
          display: flex;
          justify-content: center;
          align-items: center;
  
          p {
            width: 65px;
            height: 14px;
            flex-shrink: 0;
            color: #272727;
            font-family: "Poppins", sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 275;
            line-height: 1;
            margin: 0;
            text-align: center;
            padding-top: 2px;
          }
        }
      }
  
      .select-footer-container {
        display: flex;
  
        .select-footer-img {
          width: 40px;
          height: 40px;
          flex-shrink: 0;
          border-radius: 500px;
        }
  
        .select-footer-descrition {
          padding: 0px 18px 16px 18px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
  
          .p-container {
            display: flex;
            gap: 18px;
  
            .select-footer-text2 {
              color: #000;
              font-family: Poppins;
              font-size: 12px;
              font-style: normal;
              font-weight: 275;
              line-height: normal;
            }
          }
  
          .select-footer-images {
            display: flex;
            gap: 20px;
          }
  
        }
      }
  
      .select-footer-proposal {
        display: flex;
        width: 200px;
        height: 50px;
        margin-left: auto;
        padding: 10px 20px;
        background-color: #1B75BF;
        border-radius: 40px;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        text-decoration: none;
  
        p {
          color: #FFF;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
  
    }
  }