.container {
    display: flex;
    background-color: #F6F6F6;    
    width: 70vw;
    max-height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    .left {
        max-width: 20vw;
        padding: 16px;
        display: flex;
        align-items: center;
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    .container-name-user {
        display: flex;
        flex-direction: column;
        margin-left: 8px;

        .name {
            position: relative;
            left: 3px;
            font-weight: bolder;
        }

        .username {
            font-size: 14px;
            color: rgb(113, 118, 123);;
        }
    }
    }
    .right {
        display: flex;
        align-items: center;
        max-width: 20vw;
        justify-content: flex-end;
        .icons {
            display: flex;
            margin-right: 16px;
            .icon {
                margin-left: 16px;
            }
        }
    }
}