.container-received {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    .message {
        display: flex;
        align-items: flex-start;
        .avatar {
            margin-left: 10px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        .messages {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .message-text {
                background-color: #e9e9e9;
                margin: 4px 0px 0px;
                border-radius: 10px 0px 10px 10px;
                padding: 5px;
                max-width: 40vw;
                word-wrap: break-word;
                display: inline-flex;
                align-self: flex-end;
                .text {
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                }

                .time {
                    font-size: 10px;
                    display: flex;
                    justify-content: flex-end;
                    color: dimgray;
                }
            }
        }
    }
}
