.container-sent {
    display: flex;
    padding: 10px;

    .message {
        display: flex;
        align-items: flex-start; // Garante que o avatar e a mensagem alinhem no topo
        .avatar {
            margin-right: 10px; // Espaço entre a imagem e a caixa de mensagem
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        .messages {
            display: flex;
            flex-direction: column; // Mensagens empilhadas verticalmente
            .message-text {
                background-color: #e9e9e9;
                margin: 4px 0px 0px;
                border-radius: 0 10px 10px 10px;
                padding: 10px;
                max-width: 40vw; // Limita o tamanho da mensagem a 40% da largura da tela
                word-wrap: break-word; // Quebra palavras longas
                display: inline-flex; // Caixa ajusta-se ao conteúdo
                align-self: flex-start; // Alinha cada caixa de mensagem ao conteúdo
                .text {
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                }

                .time {
                    font-size: 10px;
                    display: flex;
                    justify-content: flex-end;
                    color: dimgray;
                }
            }
        }
    }
}
