.container {
    display: flex;
    max-width: 100vw;
}

.projects {
    width: 60vw;
    padding: 0 40px 0 0;
    margin-top: 48px;
}
@media (max-width: 1920px) {
    .container {
        padding: 0px 80px 0px 80px;
        .projects {
            width: 25vw;
        }
    }
}
@media (max-width: 1440px) {
    .container {
        width: 65vw;
        padding: 0px 20px 0px 20px;
        .profile {
            width: 30vw;
        }
        .projects {
            width: 60vw;
        }
    }
}
@media (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        .profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
        }
        .projects {
            display: flex;
            flex-direction: column;
            margin: 0 0 0 10px;
            width: 60vw;
            padding: 0;
        }
    }
}
// @media (max-width: 1024px) {
//     .container {
//         display: flex;
//         flex-direction: column;
//         width: 100vw;
//         justify-content: center;
//         .profile {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             width: 40vw;
//         }
//         .projects {
//             display: flex;
//             flex-direction: column;
//             margin: 0 0 0 10px;
//             width: 60vw;
//             padding: 0;
//         }
//     }
// }
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: -40px;
            width: 100vw;
        }
        .projects {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0 0 0 10px;
            width: 90vw;
            padding: 0;
        }
    }
}
@media (max-width: 425px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        .profile {
            margin-left: -40px;
            width: 90vw;
        }
        .projects {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0 0 0 10px;
            width: 90vw;
            padding: 0;
        }
    }
}
@media (max-width: 320px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 90vw;
        justify-content: center;
        align-items: center;
        .profile {
            width: 90vw;
        }
        .projects {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0 0 0 10px;
            width: 90vw;
            padding: 0;
        }
    }
}