.container {
    font-family: 'Poppins', sans-serif;
    padding: 0px 80px 0px 80px;
    .info-box {
        width: 25vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .info-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h1 {
                font-size: 18px;
                font-weight: 600;
                margin: 0;
            }
            h2 {
                font-size: 18px;
                font-weight: 500;
                margin: 0;
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
                color: #666;
                margin: 5px 0 0 0;
            }
            .stars {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                font-size: 18px;
                color: #1B75BF;
                span {
                    display: inline-block;
                }
            }
        }
    }
}
