.card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
    border: 1px solid #1B75BF;
    border-radius: 10px ;
    padding: 50px 10px;

    li{
        margin: 0 0 23px 0;
        font-weight: 500;
    }
}
@media (max-width: 1024px) {
    .card {
        display: flex;
        width: 80vw;
        font-size: 18px;
        border: 1px solid #1B75BF;
        border-radius: 10px;
        padding: 50px 10px;
        li {
            margin: 0 0 23px 0;
            font-weight: 500;
        }
    }
}
@media (max-width: 768px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 80vw;
        font-size: 18px;
        border: 1px solid #1B75BF;
        border-radius: 10px;
        padding: 50px 10px;
        li {
            margin: 0 0 23px 0;
            font-weight: 500;
        }
    }
}
@media (max-width: 425px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 80vw;
        font-size: 18px;
        border: 1px solid #1B75BF;
        border-radius: 10px;
        padding: 50px 10px;
        li {
            margin: 0 0 23px 0;
            font-weight: 500;
        }
    }
}
@media (max-width: 320px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 18px;
        border: 1px solid #1B75BF;
        border-radius: 10px;
        padding: 50px 10px;
        li {
            margin: 0 0 23px 0;
            font-weight: 500;
        }
    }
}