.code-container{
    border: 2px solid #575757;
    border-radius: 10px;
    padding: 12px;
    position: relative;
    display: flex;
    input {
        border-radius: 10px;
        width: 50px;
        height: 75px;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        border: 1px solid #000;
        border-radius: 5px;
        margin: 0 10px;

        &:focus{
            outline: 1px solid black;
        }
    }

    p{
        font-weight: 500;
        position: absolute;
        top: -15%;
        background-color: #FFF;
    }
}
@media (max-width: 425px) {
    .code-container{
        padding: 10px;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .inputs {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        input {
            width: 40px;
            height: 60px;
            font-size: 28px;
        }
    }
}
@media (max-width: 320px) {
    .code-container{
        padding: 5px;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .inputs {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        input {
            width: 30px;
            height: 45px;
            font-size: 24px;
        }
    }
}
/* Para navegadores WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
