h1{
font-weight: 700;
}

.inputs-container{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 220px;

    .left, .right{
        display: flex;
        flex-direction: column;
        text-align: start;

        .label{
            font-size: 14px;
            font-weight: 500;
            color: #575757;
            margin-bottom: 5px;
        }

        input, select{
            height: 43px;
            width: 280px;
            border: 2px solid #575757;
            border-radius: 10px;
            margin-bottom: 13px;
            font-size: 1rem;
            padding: 6px; 
        }

        select {
            padding: 2px;
        }
    }
        option:hover{
        background-color: #d30303;
    }
}
@media (max-width: 1920px) {
    .inputs-container{
        gap: 150px;
    }
}
@media (max-width: 1440px) {
    .inputs-container{
        gap: 150px;
    }
}
@media (max-width: 1024px) {
    .inputs-container{
        flex-direction: row;
    }
}
@media (max-width: 768px) {
    .inputs-container{
        flex-direction: row;
        gap: 20px;
        .left, .right{
            gap: 20px;
        }
    }
}
@media (max-width: 425px) {
    .inputs-container{
        flex-direction: column;
        gap: 20px;
        .left, .right{
            gap: 20px;
        }
    }
}
@media (max-width: 320px) {
    .inputs-container{
        flex-direction: column;
        gap: 20px;
        .left, .right{
            gap: 20px;
        }
    }
}