.configProfile-container{
    padding-bottom: 80px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 32px 80px;
    display: flex;
}
@media (max-width: 1024px) {
    .configProfile-container{
        border: 1px solid black;
    }
}
@media (max-width: 768px) {
    .configProfile-container{
        border: none;
    }
}
@media (max-width: 425px) {
    .configProfile-container{
        border: none;
    }
}
@media (max-width: 320px) {
    .configProfile-container{
        border: none;
    }
}