.confArea{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 64px;

    .container-warning-position {
        position: relative;
        /* top: 33px; */
        bottom: 160px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin: 3vh 0 0;
}
@media (max-width: 320px) {
    form {
        margin: 0;
    }
}