.emailInputs {
  width: 100%;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  align-items: center;

  .inputs {
    margin: 100px 0 30px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  input {
    outline: none;
    height: 56px;
    width: 419px;
    border: 2px solid #575757;
    border-radius: 10px;
    margin-bottom: 13px;
    font-size: 1rem;
    padding: 3px 3px 3px 10px;
  }
}

.inputBox {
  position: relative;

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-control {
    outline: none;
    align-items: center;
    justify-content: center;
  }

  .labelInput {
    position: absolute;
    top: 15px;
    left: 10px;
    pointer-events: none;
    transition: 0.4s;
    color: #bfbfbf;
    font-size: 16px;
    z-index: 9999;
    background-color: white;
  }

  .labelInput::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.4s;
    color: #bfbfbf;
  }

  .form-control:focus~.labelInput,
  .form-control:not(:placeholder-shown)~.labelInput {
    top: -19%;
    font-size: 16px;
    color: #000;
  }
}
@media (max-width: 425px) {
  .emailInputs {
    width: 100%;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: center;

    .inputs {
      margin: 100px 0 30px 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    input {
      outline: none;
      height: 56px;
      width: 419px;
      border: 2px solid #575757;
      border-radius: 10px;
      margin-bottom: 13px;
      font-size: 1rem;
      padding: 3px 3px 3px 10px;
    }
  }

  .inputBox {
    position: relative;

    .form-group {
      display: flex;
      flex-direction: column;
    }

    .form-control {
      outline: none;
      align-items: center;
      justify-content: center;
    }

    .labelInput {
      position: absolute;
      top: 15px;
      left: 10px;
      pointer-events: none;
      transition: 0.4s;
      color: #bfbfbf;
      font-size: 16px;
      z-index: 9999;
      background-color: white;
    }

    .labelInput::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: 0.4s;
      color: #bfbfbf;
    }

    .form-control:focus~.labelInput,
    .form-control:not(:placeholder-shown)~.labelInput {
      top: -19%;
      font-size: 16px;
      color: #000;
    }
  }
}
@media (max-width: 320px) {
  .emailInputs {
    width: 100%;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: center;

    .inputs {
      margin: 100px 0 30px 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    input {
      outline: none;
      height: 56px;
      width: 250px;
      border: 2px solid #575757;
      border-radius: 10px;
      margin-bottom: 13px;
      font-size: 1rem;
      padding: 3px 3px 3px 10px;
    }
  }

  .inputBox {
    position: relative;

    .form-group {
      display: flex;
      flex-direction: column;
    }

    .form-control {
      outline: none;
      align-items: center;
      justify-content: center;
    }

    .labelInput {
      position: absolute;
      top: 15px;
      left: 10px;
      pointer-events: none;
      transition: 0.4s;
      color: #bfbfbf;
      font-size: 16px;
      z-index: 9999;
      background-color: white;
    }

    .labelInput::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: 0.4s;
      color: #bfbfbf;
    }

    .form-control:focus~.labelInput,
    .form-control:not(:placeholder-shown)~.labelInput {
      top: -19%;
      font-size: 16px;
      color: #000;
    }
  }
}