*{
    font-family: Poppins;
}

.personal-container{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 425px) {
    .personal-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 9rem;
    }
}
@media (max-width: 320px) {
    .personal-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 9rem;
    }
}