.authMethods-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 75%;
    margin-left: 40px;
    h1{
        text-align: center;
    }
    ul{
        margin-left: 20px ;

        li{
            list-style: outside;
        }
    }
}
@media (max-width: 768px) {
    .authMethods-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100vw;
        h1{
            text-align: center;
        }
        ul{
            margin: 0;
            width: 90vw;
            li{
                
                list-style: outside;
            }
        }
    }
}
@media (max-width: 425px) {
    .authMethods-container{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        width: 60vw;
        h1{
            text-align: center;
        }
        ul{
            margin: 0;
            width: 60vw;
            li{
                
                list-style: outside;
            }
        }
    }
}
@media (max-width: 320px) {
    .authMethods-container{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        width: 50vw;
        margin-left: -20px;
        h1{
            text-align: center;
        }
        ul{
            margin: 0;
            width: 70vw;
            li{
                
                list-style: outside;
            }
        }
    }
}