*{
    font-family: Poppins;
}
.sideBar{
    width: 310px;
    height: 100%;

    .tabs-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .tab{
        border-radius: 9px 0 0 10px;
        width: 100%;
        padding: 16px;
        height: 64px;
        display: flex;
        gap: 13px;
        text-decoration: none;
        color: #000;

            &:hover{
                text-decoration: wavy;
                
            }


            img{
                width: 32px;
                height: 32px;
            }

            #email-icon{
                height: 25px;
            }

        }
        .tab.active {
            background-color: rgba(27, 117, 191, 0.16);
          }
    }
}
@media (max-width: 425px) {
    .sideBar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .tabs-area {
        flex-direction: row;
        gap: 1rem;
        .tab {
          border-radius: 0;
          width: 25%;
          padding: 16px 6px;
          height: 64px;
          display: flex;
          gap: 13px;
          text-decoration: none;
          color: #000;
          &:hover {
            text-decoration: wavy;
          }
          img {
            width: 32px;
            height: 32px;
          }
          #email-icon {
            height: 25px;
          }
          p {
            display: none;
          }
        }
        .tab.active {
          background-color: rgba(27, 117, 191, 0.16);
        }
      }
    }
}
@media (max-width: 320px) {
    .sideBar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .tabs-area {
        flex-direction: row;
        gap: 1rem;
        .tab {
          border-radius: 0;
          width: 25%;
          padding: 16px 6px;
          height: 64px;
          display: flex;
          gap: 13px;
          text-decoration: none;
          color: #000;
          &:hover {
            text-decoration: wavy;
          }
          img {
            width: 32px;
            height: 32px;
          }
          #email-icon {
            height: 25px;
          }
          p {
            display: none;
          }
        }
        .tab.active {
          background-color: rgba(27, 117, 191, 0.16);
        }
      }
    }
}