*{
    font-family: Poppins;
}
.sideBar{
    width: 310px;
    height: 100%;

    .tabs-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .tab{
        border-radius: 9px 0 0 10px;
        width: 100%;
        padding: 16px;
        height: 64px;
        display: flex;
        gap: 13px;
        text-decoration: none;
        color: #000;
            img{
                width: 32px;
                height: 32px;
            }

        }
        .tab:first-child{
            background-color: rgba(27, 117, 191, 0.16);
            border-radius: 9px 0 0 10px;
            width: 100%;
        }
    }
}