h1{
    font-weight: 500;
}
table{
    border: 1px solid black;
    border-radius: 8px;
    padding: 0px 0 18px 0;


    th{
        padding: 6px;
        font-weight: 400;
    }
    


    .fill{
        font-size: 0.75rem;
        color: #535353;
        background-color: #D9D9D9;
        border-radius: 18px;
    }


}