.titleAndSubtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 16px;
    gap: 32px;
    .title{
        display: flex;
        align-items: center;
        width: 100%;
        height: 20%;
        justify-content: center;
        gap: 16px;
        h1{
            color: #1B75BF;
            font-size: 32px;
            font-weight: 700;
        }
    
        img{
            width: 70px;
        }
    }
    
    .subtitle{
        display: block;
        width: 100%;
    }
}
@media (max-width: 1920px) {
    .titleAndSubtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 16px;
        gap: 32px;
        .title {
            display: flex;
            align-items: center;
            width: 100%;
            height: 20%;
            justify-content: center;
            gap: 16px;
            h1 {
                color: #1B75BF;
                font-size: 32px;
                font-weight: 700;
            }
            img {
                width: 70px;
            }
        }
        .subtitle {
            display: block;
            width: 100%;
        }
    }
}
@media (max-width: 1440px) {
    .titleAndSubtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        text-align: center;
        padding: 16px;
        gap: 32px;
        .title {
            display: flex;
            align-items: center;
            width: 100%;
            height: 20%;
            justify-content: center;
            gap: 16px;
            h1 {
                color: #1B75BF;
                font-size: 32px;
                font-weight: 700;
            }
            img {
                width: 70px;
            }
        }
        .subtitle {
            display: block;
            width: 100%;
        }
    }
}
@media (max-width: 1024px) {
    .titleAndSubtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        text-align: center;
        padding: 16px;
        gap: 32px;
        .title {
            display: flex;
            align-items: center;
            width: 100%;
            height: 20%;
            justify-content: center;
            gap: 16px;
            h1 {
                color: #1B75BF;
                font-size: 32px;
                font-weight: 700;
            }
            img {
                width: 70px;
            }
        }
        .subtitle {
            display: block;
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .titleAndSubtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        text-align: center;
        padding: 16px;
        gap: 32px;
        .title {
            display: flex;
            align-items: center;
            width: 100%;
            height: 20%;
            justify-content: center;
            gap: 16px;
            h1 {
                color: #1B75BF;
                font-size: 32px;
                font-weight: 700;
            }
            img {
                width: 70px;
            }
        }
        .subtitle {
            display: block;
            width: 100%;
        }
    }
}
@media (max-width: 425px) {
    .titleAndSubtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        text-align: center;
        padding: 16px;
        gap: 32px;
        .title {
            display: flex;
            align-items: center;
            width: 100%;
            height: 20%;
            justify-content: center;
            gap: 16px;
            h1 {
                color: #1B75BF;
                font-size: 32px;
                font-weight: 700;
            }
            img {
                width: 70px;
            }
        }
        .subtitle {
            display: block;
            width: 100%;
        }
    }
}
@media (max-width: 320px) {
    .titleAndSubtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 16px;
        gap: 32px;
        .title {
            display: flex;
            align-items: center;
            width: 100%;
            height: 20%;
            justify-content: center;
            gap: 16px;
            h1 {
                color: #1B75BF;
                font-size: 32px;
                font-weight: 700;
            }
            img {
                width: 70px;
            }
        }
        .subtitle {
            display: block;
            width: 100%;
        }
    }
}