@import 'font-awesome/css/font-awesome.min.css';
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    width: 350px;
    z-index: -9999;
    .search-bar {
        display: flex;
        align-items: center;
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 30px;
        width: 100%;
        max-width: 320px;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 18px;
        margin-right: 15px;

        .bar {
            width: 25px;
            height: 3px;
            background-color: black;
        }
    }

    input {
        flex-grow: 1;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 16px;
    }

    .search-icon {
        font-size: 20px;
        color: #062b33;
        cursor: pointer;
        margin-left: -75px;
    }
}