@import 'font-awesome/css/font-awesome.min.css';
.container {
    // position: relative;
    // left: 8px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #f3f3f3;
    
    .onBorderRadius {
        border-radius: 20px;
        animation: onBorderRadius 1s ease-out;
    }
    
    .offBorderRadius {
        border-radius: 0;
        animation: offBorderRadius 1s ease-out;
    }

    @keyframes onBorderRadius {
        0% {
            border-radius: 0;
        }
        100% {
            border-radius: 20px;
        }
    }
    
    @keyframes offBorderRadius {
        0% {
            border-radius: 20px;
        }
        100% {
            border-radius: 0;
        }
    }

    .search-bar {
        display: flex;
        align-items: center;
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 30px;
        width: 100%;
        max-width: 320px;
        z-index: 999;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 18px;

        .bar {
            width: 25px;
            height: 3px;
            background-color: black;
        }
    }

    input {
        width: 350px;
        display: flex;
        flex-direction: column;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 16px;
        margin-right: 20px;
        z-index: 10000;
    }


    .search-icon {
        font-size: 20px;
        color: #062b33;
        cursor: pointer;
        z-index: 9999;
    }
}

.container-dropdown-search {
    width: 95%;
    height: 300px;
    background-color: #f3f3f3;
    border-top: 1px solid #000;
    overflow-y: auto;
    overflow-x: hidden;
}