.container-profile-found {
    width: 100%;
    display: flex;
    column-gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
}

.container-profile-found:hover {
    background-color: #e0dfdf;
}

.container-photo-found {
    width: 50px;
    height: 50px;
}

.photo {
    width: 100%;
}

.container-info-profile {
    display: flex;
    flex-direction: column;
}

.container-name {
    font-weight: bold;
}

.container-username {
    position: relative;
    bottom: 2px;
    color: gray;
}