.logo-icon {
    .top-div {
        display: flex;
        gap: 48px;
        align-items: center;
        justify-content: center;
        padding: 16px;

        #logo {
            width: 140px;
        }

        .socialmedia-icons {
            display: flex;
            gap: 16px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .bottom-div {
        text-align: center;
        padding: 8px;
        font-size: 0.9rem;
    }

    // Responsividade
    @media (max-width: 768px) {
        .top-div {
            flex-direction: column;
            gap: 24px;

            #logo {
                width: 100px;
            }

            .socialmedia-icons {
                gap: 12px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    @media (max-width: 480px) {
        .logo-icon {
            .top-div {
                gap: 8px;
    
                #logo {
                    width: 160px;
                }
    
                .socialmedia-icons {
                    gap: 4px;
    
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
    
            .bottom-div {
                font-size: 0.7rem;
                padding: 2px;
            }
        }
    }
}

@media (max-width: 320px) {
    .logo-icon {
        .top-div {
            gap: 8px;

            #logo {
                width: 160px;
            }

            .socialmedia-icons {
                gap: 4px;

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .bottom-div {
            font-size: 0.7rem;
            padding: 2px;
        }
    }
}