
main {
  width: 100%;
  background-color: #f5f5f5;
  padding: 5rem;
  .help-central{
    height: 15vh;
    width: 62vw;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 1.5rem 0 1.8rem 0;
    .help-title{
      font-size: 2rem;
      font-weight: 800;
      margin: 0 0 0 1rem;
    }
  }
  .instructions{
    margin: 0 0 0 3rem;
    display: flex;
    .number{
      height: 3rem;
      width: 3rem;
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
    .text{
      font-size: 0.5rem;
    }
  }
  }


