main {
  width: 100%;
  background-color: #f5f5f5;
  padding: 5rem;
  .image-title {
    display: flex;
    align-items: center;
    width: 45vw;
    .text-title {
      font-size: 2.6rem;
      font-weight: 700;
      color: #0b2f34;
    }
    img {
      width: 100%;
      max-width: 7rem;
      height: auto;
      margin-right: 1rem;
      border-radius: 50%;
    }
  }
  .subTitle {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 4rem 1rem 8.05rem;
    width: 52vw;
  }
  .questions {
    width: 62vw;
    margin-top: 2rem;
    border: #0b2f34 1px solid;
    border-radius: 0.75rem;
    padding: 1rem;
    .questions-title {
      border-bottom: #0b2f34 1px solid;
      .title{
        font-size: 1.5rem;
        font-weight: 500;
        color: #0b2f34;
        margin: 0 0 0.5rem 0;
      }
    }
    .questions-items{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
            .question {
            font-size: 1rem;
            font-weight: 400;
            color: #0b2f34;
            margin: 0.5rem 0;
            }
        }
    }
  }

