
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
    padding: 5rem;
    .image-title {
        display: flex;
        align-items: center;
        width: 100%;
        img {
            width: 100%;
            max-width: 150px;
            height: auto;
            margin-right: 1rem;
        }
    }
    .subTitle {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
  }
    section{
main {
  width: 100%;
  background-color: #f5f5f5;
  padding: 5rem;
  }
}