.card {
    display: flex;
    width: 25vw;
    flex-direction: column;
    height: 45vh;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 16px;

    .title {
        h2 {
            color: #0c0c0c;
            font-size: 1.5rem;
        }
    }

    .term {
        margin-top: 5px;
        display: flex;
        font-weight: 300;
        font-size: 14px;
    }

    .description {
        margin-top: 5px;
        font-weight: 300;
        font-size: 14px;
    }

    .footer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .pending {
            display: flex;
            justify-content: center;

            img {
                margin: 4px 5px 0 0;
                width: 18px;
                height: 18px;
            }
        }

        .right {
            display: flex;
            justify-content: center;

            img {
                margin: 4px 5px 0 0;
                width: 18px;
                height: 18px;
            }

            .toSend {
                .toSendButton {
                    background-color: transparent;
                    border: 1px solid #1B75BF;
                    border-radius: 20px;
                    margin-right: 6px;
                    padding: 4px 8px;
                    font-size: 14px;
                    font-weight: 300;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        border: 1px solid #14609e;
                    }
                }
            }

            .help {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
@media (max-width: 1920px) {
    .card {
        width: 25vw;
        height: 28vh;
        padding: 16px;

        .title {
            h2 {
                font-size: 2rem;
            }
        }

        .term,
        .description {
            font-size: 16px;
        }

        .footer {
            margin-top: 10px;

            .pending,
            .right {
                img {
                    width: 18px;
                    height: 18px;
                }

                .help img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .card {
        width: 40vw;
        height: auto;
        padding: 12px;

        .title {
            h2 {
                font-size: 1.4rem;
            }
        }

        .term,
        .description {
            font-size: 13px;
        }

        .footer {
            margin-top: 8px;
            flex-direction: column;

            .pending,
            .right {
                justify-content: flex-start;
                
                img {
                    width: 16px;
                    height: 16px;
                }

                .help img {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}
// @media (max-width: 1024px) {
//     .card {
//         width: 40vw; /* Ajusta para 40% da largura da tela */
//         height: auto; /* Deixa a altura flexível */
//         padding: 12px; /* Diminui o padding */
        
//         .title {
//             h2 {
//                 font-size: 1.4rem; /* Ajuste leve no tamanho da fonte */
//             }
//         }

//         .term,
//         .description {
//             font-size: 13px; /* Ajuste leve no tamanho da fonte */
//         }

//         .footer {
//             margin-top: 8px; /* Reduz o espaço */
//             flex-direction: column; /* Alinha os elementos em coluna */

//             .pending,
//             .right {
//                 justify-content: flex-start;
                
//                 img {
//                     width: 16px;
//                     height: 16px;
//                 }

//                 .help img {
//                     width: 18px;
//                     height: 18px;
//                 }
//             }
//         }
//     }
// }
@media (max-width: 768px) {
    .card {
        width: 78vw;
        height: 35vh;
        margin-bottom: 1vh;

        .title {
            h2 {
                font-size: 1.2rem;
            }
        }

        .term {
            font-size: 12px;
        }

        .description {
            font-size: 12px;
        }

        .footer {
            .pending {
                img {
                    width: 14px;
                    height: 14px;
                }
            }

            .right {
                img {
                    width: 14px;
                    height: 14px;
                }

                .help {
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 425px) {
    .card {
        width: 78vw;
        height: 48vh;
        margin-bottom: 1vh;

        .title {
            h2 {
                font-size: 1.2rem;
            }
        }

        .term {
            font-size: 12px;
        }

        .description {
            font-size: 12px;
        }

        .footer {
            .pending {
                img {
                    width: 14px;
                    height: 14px;
                }
            }

            .right {
                img {
                    width: 14px;
                    height: 14px;
                }

                .help {
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 320px) {
    .card {
        width: 78vw;
        height: 48vh;
        margin-bottom: 1vh;

        .title {
            h2 {
                font-size: 1.2rem;
            }
        }

        .term {
            font-size: 12px;
        }

        .description {
            font-size: 12px;
        }

        .footer {
            .pending {
                img {
                    width: 14px;
                    height: 14px;
                }
            }

            .right {
                img {
                    width: 14px;
                    height: 14px;
                }

                .help {
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}