.card {
    display: flex;
    width: 25vw;
    flex-direction: column;
    height: 45vh;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 16px;
    .title {
        
        h2 {
            color: #0c0c0c;
            font-size: 1.5rem;
        }
    }
    .term {
        margin-top: 5px;
        display: flex;
        font-weight: 300;
        font-size: 14px;
    }
    .description {
        margin-top: 5px;
        font-weight: 300;
        font-size: 14px;
    }
    .footer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .pending {
            display: flex;
            justify-content: center;
            img {
                margin: 4px 5px 0 0;
                width: 18px;
                height: 18px;
            }
        }
        .right {
            display: flex;
            justify-content: center;
            img {
                margin: 5px 5px 0 0;
                width: 18px;
                height: 18px;
            }
            .toSend {
                .toSendButton {
                    width: 64px;
                    height: 31px;
                    background-color: transparent;
                    border: 1px solid #1B75BF;
                    border-radius: 20px;
                    margin-right: 6px;
                    padding: 4px 8px;
                    font-size: 14px;
                    font-weight: bolder;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover {
                        background-color: #1B75BF;
                        color: #FDFDFD;
                        font-weight: bolder;
                        transition: .3s;
                        border: 1px solid #14609e;
                    }
                }
            }
            .help {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
@media (max-width: 320px) {
    
}