.dropdown {
    position: relative;

    .dropdown-text {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 36px 0;
        transition: 0.5s ease-in all;

        &:hover {
            border-bottom: 6px solid #1B75BF;
            transition: 0.1s ease-in-out;

        }
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #F2F2F2;
        display: block;
        min-width: 300px;
        z-index: 1;
        border-radius: 5px;

        .routerlink {
            font-weight: 100;
            color: gray;
            text-decoration: none;
            padding: 3.5px;
            display: block;
            transition: 0.3s ease-in all;
            &:hover {
                color: #1B75BF;
                transition: 0.1s ease-in-out;
                border-bottom: 2px solid #1B75BF;
            }
        }
    }
}