.hamburger{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid black;
    cursor: pointer;
    z-index: 1;

    &:before, &:after{
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px 0;
    }


}

@media (max-width: 875px){
    .hamburger {
        display: block;
      }
    
      /* Estilos para o estado ativo (vira um "X") */
      .hamburger.active {
        border-top-color: transparent; /* Oculta a linha do meio */
      }
    
      .hamburger.active::before {
        transform: rotate(45deg);
        top: 0;
      }
    
      .hamburger.active::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
    


