@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

header{
    font-family: 'Poppins';
    height: 100px;
    display: flex;
    align-items: center;
    padding: 5vh 8vw;
    justify-content: space-between;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
    z-index: 999;
}
@media (max-width: 875px){
    .dropdowns{
        background-color: red;
    }
}
// - 320px
// - 425px 
// - 768px
// - 1024px
// - 1440px
// - 1920px

