.header-leftSide{
    display: flex;
    align-items: center;
    color: gray;
    gap: 30px;

    .links{
        display: flex;
        gap: 16px;

    }
    #logo{
        width: 140px;
}

.dropdowns{
    display: flex;
    gap: 16px;
}
@media (max-width: 875px){
    .dropdowns{
        display: none;
    }
}
}

