
.header-rightSide{
display: flex;
    .icons{
        display: flex;
        align-items: center;
        gap: 16px;

        img{
            width: 30px;
            height: 30px;
        }

    }
    @media (max-width: 875px){
        .icons-container{
            display: none;
        }
    }

}