@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.signIn-container {
  font-family: Poppins;
  display: flex;
  .right-side {
    height: 100vh;
    width: 30vw;
  }

  .left-side {
    padding: 32px 80px;
    background-color: #0b2f34;
    height: 100vh;
    width: 70vw;

    img {
      width: 200px;
      height: 36px;
    }

    .login-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      margin-top: 205px;



    }
  }
}
