.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn {
    display: flex;
    width: 50%;
    padding: 0.8rem;
    background-color: #004643;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #00362e;
    }
  }
}
@media (max-width: 320px) {
  .container {
    .btn {
      width: 80%;
      font-size: 1.3rem;
    }
  }
}