.input-field {
  margin-bottom: .7rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 768px) {
  .input-field {
    label {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 425px) {
  .input-field {
    label {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 320px) {
  .input-field {
    label {
      font-size: 1.5rem;
    }
  }
}