.container {
    margin-bottom: 1.5rem;
    color: #000;
    .title {
        display: flex;
        justify-content: center;
        color: #000;
    }
    .input-field {
        color: #000;
    }
    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 0.8rem;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    }
}
@media (max-width: 1920px) {
    .container {
        .title {
            font-size: 1.2rem;
        }
    }
}
@media (max-width: 1440px) {
    .container {
        .title {
            font-size: 1.2rem;
        }
    }
}
@media (max-width: 1024px) {
    .container {
        .title {
            font-size: 1.2rem;
        }
    }
}
@media (max-width: 768px) {
    .container {
        .title {
            font-size: 1.2rem;
        }
    }
}
@media (max-width: 425px) {
    .container {
        .title {
            font-size: 1.2rem;
        }
    }
}
@media (max-width: 320px) {
    .container {
        .title {
            font-size: 1.5rem;
        }
    }
}