.top {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    margin-bottom: 4rem;
    h1 {
        font-size: 2rem;
        font-weight: 700;
        color: #6f6f6f;
        margin-bottom: 1rem;
    }
}
.container {
    font-family: 'Poppins', sans-serif;
    padding: 0 80px 0 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 16px;
        align-items: center;
        .card {
            border: 1px solid #e0e0e0;
            border-radius: 10px;
            .header-card {
                padding: 16px 16px 6px 16px;
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
            }
            .main-card {
                padding: 0px 16px 0px 16px;
                h1 {
                    font-size: 2rem;
                    font-weight: 400;
                    color: #1B75BF;
                    margin-bottom: .3rem;
                }
                p {
                    font-size: 1rem;
                    font-weight: 200;
                    color: #6f6f6f;
                    margin-bottom: .3rem;
                }
            }
            .footer-card {
                margin-top: 16px;
            }
        }
    }
    .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card {
            border: 1px solid #e0e0e0;
            border-radius: 10px;
            .header-card {
                padding: 16px 16px 6px 16px;
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
            }
            .main-card {
                padding: 0px 16px 0px 16px;
                h1 {
                    font-size: 2rem;
                    font-weight: 400;
                    color: #1B75BF;
                    margin-bottom: .3rem;
                }
                p {
                    font-size: 1rem;
                    font-weight: 200;
                    color: #6f6f6f;
                    margin-bottom: .3rem;
                }
            }
            .footer-card {
                margin-top: 16px;
            }
        }
    }
}
@media (max-width: 1920px) {
    .top {
        display: flex;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 3rem;
        }
    }
    .container {
        padding: 0 80px 0 80px;
        flex-direction: row;
        .left {
            width: 100%;
            margin-right: 0;
            .card {
                height: 300px;
                margin-bottom: 16px;
                .header-card {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                .main-card {
                    h1 {
                        font-size: 2.3rem;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .right {
            width: 100%;
            .card {
                height: 300px;
                margin-bottom: 16px;
                .header-card {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                .main-card {
                    h1 {
                        font-size: 2.3rem;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 1440px) {
    .top {
        display: flex;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 2.5rem;
        }
    }
    .container {
        padding: 0 60px 0 60px;
        flex-direction: row;
        .left {
            width: 100%;
            margin-right: 0;
            .card {
                margin-bottom: 16px;
            }
        }
        .right {
            width: 100%;
            .card {
                margin-bottom: 16px;
            }
        }
    }
}
@media (max-width: 1024px) {
    .top {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 2.5rem;
        }
    }
    .container {
        padding: 0 60px 0 60px;
        flex-direction: row;
        .left {
            width: 100%;
            margin-right: 0;
            .card {
                margin-bottom: 16px;
            }
        }
        .right {
            width: 100%;
            .card {
                margin-bottom: 16px;
            }
        }
    }
}
@media (max-width: 768px) {
    .top {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 2rem;
        }
    }
    .container {
        padding: 0 60px 0 60px;
        flex-direction: column;
        .left {
            width: 100%;
            margin-right: 0;
            .card {
                margin-bottom: 16px;
            }
        }
        .right {
            width: 100%;
            .card {
                margin-bottom: 16px;
            }
        }
    }
}
@media (max-width: 425px) {
    .top {
        margin-top: 35rem;
        display: flex;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 1.5rem;
        }
    }
    .container {
        padding: 0 40px 0 40px;
        flex-direction: column;
        .left {
            width: 100%;
            margin-right: 0;
            .card {
                margin-bottom: 16px;
            }
        }
        .right {
            width: 100%;
            .card {
                margin-bottom: 16px;
            }
        }
    }
}
@media (max-width: 320px) {
    .top {
        margin-top: 25rem;
        display: flex;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 1.5rem;
        }
    }
    .container {
        padding: 0 20px 0 20px;
        flex-direction: column;
        .left {
            width: 100%;
            margin-right: 0;
            .card {
                margin-bottom: 16px;
            }
        }
        .right {
            width: 100%;
            .card {
                margin-bottom: 16px;
            }
        }
    }
}