header {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    padding: 20px 80px 20px 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    .logo {
        img {
            height: 50px;
        }
    }
    nav {
        display: flex;
        align-items: center;
        .button {
            background: none;
            display: flex;
            border: none;
            align-items: center;
            font-weight: bolder;
            padding: 10px 20px;
            margin-left: 20px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                border-bottom: 2px solid #0d4247;
            }
        }
    }
}
@media (max-width: 1920px) {
    header {
        padding: 20px 80px 20px 80px;
        .logo {
            img {
                height: 64px;
            }
        }
        nav {
            p {
                font-size: 1.5rem;
            }
            .router {
                .button {
                    display: flex;
                    align-items: center;
                    width: 100px;
                    height: 50px;
                    font-size: 1.2rem;
                    padding: 10px 20px;
                    margin-left: 20px;
                }
            }
        }
    }
}
@media (max-width: 1440px) {
    header {
        padding: 20px 60px 20px 60px;
        .logo {
            img {
                height: 50px;
            }
        }
        nav {
            .router {
                .button {
                    padding: 8px 16px;
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    header {
        padding: 20px 60px 20px 60px;
        .logo {
            img {
                height: 56px;
            }
        }
        nav {
            .router {
                .button {
                    padding: 8px 16px;
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    header {
        padding: 20px 60px 20px 60px;
        .logo {
            img {
                height: 56px;
            }
        }
        nav {
            .router {
                .button {
                    padding: 8px 16px;
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 425px) {
    header {
        padding: 20px 40px 20px 40px;
        .logo {
            img {
                height: 48px;
            }
        }
        nav {
            p {
                display: none;
            }
            .router {
                .button {
                    padding: 8px 16px;
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 320px) {
    header {
        padding: 20px 20px 20px 20px;
        width: 100vw;
        .logo {
            img {
                height: 40px;
            }
        }
        nav {
            p {
                display: none;
            }
        }
    }
}
@media (max-width: 1920px) {
    header {
        padding: 20px 80px 20px 80px;
        .logo {
            img {
                height: 64px;
            }
        }
        nav {
            p {
                font-size: 1.5rem;
            }
            .router {
                .button {
                    display: flex;
                    align-items: center;
                    width: 100px;
                    height: 50px;
                    font-size: 1.2rem;
                    padding: 10px 20px;
                    margin-left: 20px;
                }
            }
        }
    }
}
@media (max-width: 1440px) {
    header {
        padding: 20px 60px 20px 60px;
        .logo {
            img {
                height: 50px;
            }
        }
        nav {
            .router {
                .button {
                    padding: 8px 16px;
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    header {
        padding: 20px 60px 20px 60px;
        .logo {
            img {
                height: 56px;
            }
        }
        nav {
            .router {
                .button {
                    padding: 8px 16px;
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    header {
        padding: 20px 60px 20px 60px;
        .logo {
            img {
                height: 56px;
            }
        }
        nav {
            .router {
                .button {
                    padding: 8px 16px;
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 425px) {
    header {
        padding: 20px 40px 20px 40px;
        .logo {
            img {
                height: 48px;
            }
        }
        nav {
            p {
                display: none;
            }
            .router {
                .button {
                    padding: 8px 16px;
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 320px) {
    header {
        padding: 20px 20px 20px 20px;
        width: 100vw;
        .logo {
            img {
                height: 40px;
            }
        }
        nav {
            p {
                display: none;
            }
        }
    }
}