main {
    z-index: -1;
    font-family: 'Poppins', sans-serif;
    .container {
        display: flex;
        height: 80vh;
        background-color: #ffffff;
        .left {
            margin-top: 64px;
            width: 50%;
            display: flex;
            .img-work {
                width: 65%;
                margin: 0 auto;
                height: 65%;
            }
        }
        .right {
            width: 50%;
            margin-top: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 25%;
                h1 {
                    font-size: 3rem;
                    font-weight: 700;
                    color: #000000;
                    margin-bottom: 1rem;
                    justify-content: center;
                    width: 45%;
                    text-align: center;
                }
                p {
                    font-size: 1.5rem;
                    color: #000000;
                    margin-bottom: 1rem;
                }
                .router {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    .button {
                        width: 200px;
                        height: 50px;
                        background-color: #0B2F34;
                        color: #ffffff;
                        font-size: 1.5rem;
                        font-weight: 700;
                        border: none;
                        border-radius: 32px;
                        margin-right: 1rem;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover {
                            background-color: #041e22;
                        }
                    }
                }
            }
        }
    }
}