.container {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding: 0 20px;
    padding: 16px 80px;
    .row {
        .col-12 {
            .title {
                color: #000;
                margin-bottom: 10px;
            }
            .description {
                font-weight: 500;
                font-size: 1.4rem;
                margin-top: 10px;
            }
        }
    }
}
@media (max-width: 320px) {
    .container {
        padding: 16px 20px;
        .row {
            .col-12 {
                .title {
                    font-size: 1.5rem;
                }
                .description {
                    font-size: 1.2rem;
                }
            }
        }
    }
}