.container {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    padding: 0 20px;
    padding: 16px 80px;
    .row {
        .col-12 {
            .logo {
                width: 140px;
                margin-bottom: 20px;
                border-radius: 50%;
            }
            .about {
                margin: 32px 0 32px 0;
                width: 300px;
            }
            .text {
                font-family: 'Prata', serif;
                margin: 10px;
                font-size: 3rem;
                font-weight: 700;
                .emphasis {
                    color: #1B75BF;
                }
            }
            .description {
                font-weight: 600;
                font-size: 1.4rem;
                margin: 10px;
            }
        }
    }
}
@media (max-width: 1440px) {
    .container {
        padding: 16px 70px;
        .row {
            .col-12 {
                .logo {
                    width: 130px;
                }
                .about {
                    width: 280px;
                }
                .text {
                    font-size: 2.8rem;
                }
                .description {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .container {
        padding: 16px 60px;
        .row {
            .col-12 {
                .logo {
                    width: 130px;
                }
                .about {
                    width: 280px;
                }
                .text {
                    font-size: 2.8rem;
                }
                .description {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        padding: 16px 40px;
        .row {
            .col-12 {
                .logo {
                    width: 120px;
                }
                .about {
                    display: none;
                }
                .text {
                    font-size: 2.5rem;
                }
                .description {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@media (max-width: 425px) {
    .container {
        padding: 16px 20px;
        display: flex;
        flex-direction: column;
        .row {
            .col-12 {
                .logo {
                    width: 120px;
                }
                .about {
                    width: 250px;
                }
                .text {
                    font-size: 2.5rem;
                }
                .description {
                    font-size: 1.3rem;
                }
            }
        }
    }
}
@media (max-width: 320px) {
    .container {
        padding: 16px 20px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        .row {
            .col-12 {
                .logo {
                    width: 100px;
                }
                .about {
                    width: 200px;
                }
                .text {
                    font-size: 2rem;
                }
                .description {
                    font-size: 1.2rem;
                }
            }
        }
    }
}