.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 80px 0 80px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 16px;
    width: 35vw;
    .text {
        padding: 6px;
        font-size: 18px;
        font-weight: 400;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        .aboutMe {
            font-size: 20px;
            font-weight: 500;
        }
    }
}
@media (max-width: 320px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px;
        .text {
            width: 100vw;
            padding: 6px;
            font-size: 18px;
            font-weight: 400;
            border: 1px solid #e0e0e0;
            border-radius: 10px;
            .aboutMe {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}