.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    margin-top: 48px;
    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo {
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
        .details {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            .name {
                display: flex;
                align-items: center;
                h1 {
                    font-size: 24px;
                    font-weight: 700;
                    margin: 0;
                }
                img {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                }
            }
            .additional-info {
                display: flex;
                align-items: center;
                margin-top: 5px;
                .description {
                    font-size: 14px;
                    margin-right: 10px; 
                }
                .country {
                    display: flex;
                    align-items: center;
                    img {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                    p {
                        font-size: 14px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}