.container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 80px 0 80px;
    .text {
        font-size: 18px;
        font-weight: 500;
    }
    .skills {
        display: flex;
        flex-direction: row;
        
        .skill {
            display: flex;
            justify-content: center;
            background-color: #f0f0f0;
            border-radius: 5px;
            color: #333;
            font-size: 14px;
            font-weight: 500;
            margin: 16px 10px 16px 0;
            padding: 5px 10px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        padding: 0 40px 0 40px;
        .text {
            font-size: 16px;
        }
        .skills {
            .skill {
                font-size: 12px;
                margin: 10px 5px;
            }
        }
    }
}
@media (max-width: 425px) {
    .container {
        display: flex;
        flex-direction: row;
        width: 100vw;
        padding: 0 20px 0 20px;
        .text {
            width: 100vw;
            padding: 6px;
            font-size: 18px;
            font-weight: 400;
            border-radius: 10px;
            .aboutMe {
                font-size: 20px;
                font-weight: 500;
            }
        }
        .skills {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .skill {
                width: 100%;
                margin: 10px 5px;
                
            }
        }
    }
}
@media (max-width: 320px) {
    .container {
        display: flex;
        flex-direction: row;
        width: 100vw;
        padding: 0 20px 0 20px;
        .text {
            width: 85vw;
            padding: 6px;
            font-size: 18px;
            font-weight: 400;
            border-radius: 10px;
            .aboutMe {
                font-size: 20px;
                font-weight: 500;
            }
        }
        .skills {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .skill {
                width: 100%;
                margin: 10px 5px;
                
            }
        }
    }
}