.container {
    display: flex;
    padding: 0 80px 0 80px;
    font-family: 'Poppins', sans-serif;

    .public {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        p {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        .switch {
            width: 50px;
            height: 25px;
            background-color: #ccc;
            border-radius: 25px;
            position: relative;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin: 6px 0 0 10px;

            .slider {
                position: absolute;
                top: 2px;
                left: 2px;
                width: 21px;
                height: 21px;
                background-color: #fff;
                border-radius: 50%;
                transition: left 0.3s ease;
                cursor: pointer;
            }
        }

        .switch.active {
            background-color: #007bff;
        }

        .switch.active .slider {
            left: 26px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        padding: 0 40px 0 40px;

        .public {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            p {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            .switch {
                width: 50px;
                height: 25px;
                background-color: #ccc;
                border-radius: 25px;
                position: relative;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin: 6px 0 0 10px;

                .slider {
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 21px;
                    height: 21px;
                    background-color: #fff;
                    border-radius: 50%;
                    transition: left 0.3s ease;
                }
            }

            .switch.active {
                background-color: #007bff;
            }

            .switch.active .slider {
                left: 26px;
            }
        }
    }
}
@media (max-width: 425px) {
    .container {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px;

        .public {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            .switch {
                width: 50px;
                height: 25px;
                background-color: #ccc;
                border-radius: 25px;
                position: relative;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin: 0px 0 13px 10px;

                .slider {
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 21px;
                    height: 21px;
                    background-color: #fff;
                    border-radius: 50%;
                    transition: left 0.3s ease;
                }
            }

            .switch.active {
                background-color: #007bff;
            }

            .switch.active .slider {
                left: 26px;
            }
        }
    }
}
@media (max-width: 320px) {
    .container {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px;

        .public {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            .switch {
                width: 50px;
                height: 25px;
                background-color: #ccc;
                border-radius: 25px;
                position: relative;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin: 0px 0 13px 10px;

                .slider {
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    width: 21px;
                    height: 21px;
                    background-color: #fff;
                    border-radius: 50%;
                    transition: left 0.3s ease;
                }
            }

            .switch.active {
                background-color: #007bff;
            }

            .switch.active .slider {
                left: 26px;
            }
        }
    }
}