.container-shortcuts {
    display: flex;
    column-gap: 20px;
    padding-left: 13px;
    width: 30vw;
    justify-content: center;

    .shortcut {
        .chat, .contracts, .finances {
            display: inline-block;
            width: 85px;
            padding: 15px;
            border-radius: 50%;
            border: none;

            img {
                width: 45px;
            }
        }
        .chat {
            img {
                position: relative;
                left: 4px;
            }
            transition: .3s;
            background-color: rgb(13, 128, 223);
        }

        .chat:hover {
            background-color: rgb(9, 98, 170);
        }

        .contracts {
            img {
                position: relative;
                left: 7px;
            }
            transition: .5s;
            background-color: rgb(214, 74, 23);
        }

        .contracts:hover {
            background-color: rgb(182, 54, 8);
        }

        .finances {
            img {
                position: relative;
                left: 4px;
            }
            background-color: #14a042;
            transition: .3s;
        }
        .finances:hover {
            background-color: #047026;
        }

        .warningMessages {
            position: relative;
            left: 52px;
            bottom: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            background-color: red;
            color: #FDFDFD;
            border-radius: 50%;
        }
    }
}
@media (max-width: 768px) {
    .container-shortcuts {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;

        .shortcut {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85px;
            padding: 15px;
            border-radius: 50%;
            border: none;

            img {
                width: 45px;
            }

            .warningMessages {
                position: relative;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                background-color: red;
                color: #FDFDFD;
                border-radius: 50%;
            }
        }
    }
}
@media (max-width: 425px) {
    .container-shortcuts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;

        .shortcut {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85px;
            padding: 15px;
            border-radius: 50%;
            border: none;

            img {
                width: 45px;
            }

            .warningMessages {
                position: relative;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                background-color: red;
                color: #FDFDFD;
                border-radius: 50%;
            }
        }
    }
}
@media (max-width: 320px) {
    .container-shortcuts {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0;

        .shortcut {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85px;
            padding: 15px;
            border-radius: 50%;
            border: none;

            img {
                width: 45px;
            }

            .warningMessages {
                position: relative;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                background-color: red;
                color: #FDFDFD;
                border-radius: 50%;
            }
        }
    }
}