.card {
    display: flex;
    width: 25vw;
    flex-direction: column;
    height: 45vh;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 16px;
    .title {
        color: #000;
        h2 {
            font-size: 1.5rem;
            color: #0c0c0c;
        }
    }
    .term {
        margin-top: 5px;
        display: flex;
        font-weight: 300;
        font-size: 14px;
    }
    .description {
        margin-top: 5px;
        font-weight: 300;
        font-size: 14px;
    }
    .footer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .pending {
            display: flex;
            justify-content: center;
            img {
                margin: 4px 5px 0 0;
                width: 18px;
                height: 18px;
            }
        }
        .right {
            display: flex;
            justify-content: center;
            img {
                margin: 5px 5px 0 0;
                width: 18px;
                height: 18px;
            }
            .help {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .card {
        width: 78vw;
        height: 35vh;
        margin-bottom: 1vh;

        .title {
            h2 {
                font-size: 1.2rem;
            }
        }

        .term {
            font-size: 12px;
        }

        .description {
            font-size: 12px;
        }

        .footer {
            .pending {
                img {
                    width: 14px;
                    height: 14px;
                }
            }

            .right {
                img {
                    width: 14px;
                    height: 14px;
                }

                .help {
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 425px) {
    .card {
        width: 78vw;
        height: 40vh;
        margin-bottom: 1vh;

        .title {
            h2 {
                font-size: 1.2rem;
            }
        }

        .term {
            font-size: 12px;
        }

        .description {
            font-size: 12px;
        }

        .footer {
            .pending {
                img {
                    width: 14px;
                    height: 14px;
                }
            }

            .right {
                img {
                    width: 14px;
                    height: 14px;
                }

                .help {
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 320px) {
    .card {
        width: 78vw;
        height: 48vh;
        margin-bottom: 1vh;

        .title {
            h2 {
                font-size: 1.2rem;
            }
        }

        .term {
            font-size: 12px;
        }

        .description {
            font-size: 12px;
        }

        .footer {
            .pending {
                img {
                    width: 14px;
                    height: 14px;
                }
            }

            .right {
                img {
                    width: 14px;
                    height: 14px;
                }

                .help {
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}