.container {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;

}
@media (max-width: 1920px) {
    .container {
        padding: 32px 0px;
        h1 {
            font-size: 3rem;
            text-align: center;
        }
    }
}
@media (max-width: 1440px) {
    .container {
        padding: 32px 0px;
        h1 {
            font-size: 2.5rem;
            text-align: center;
        }
    }
}
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100vw;

        h1 {
            font-size: 2.5rem;
            text-align: center;
        }
    }
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100vw;

        h1 {
            font-size: 2.5rem;
            text-align: center;
        }
    }
}

@media (max-width: 425px) {
    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100vw;

        h1 {
            font-size: 2.5rem;
            text-align: center;
        }
    }
}
@media (max-width: 320px) {
    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100vw;

        h1 {
            font-size: 2.5rem;
            text-align: center;
        }
    }
}