.container {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    @media (max-width: 320px) {
        flex-direction: column;
        display: flex;
        justify-content: center;
        background-color: red;
        width: 100%;
        h1 {
            font-size: 48px;
            margin-bottom: 16px;
        }
    }
}