.rating-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    table {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 10px; // Aplicar bordas arredondadas
        overflow: hidden; // Assegurar que o conteúdo se ajuste ao arredondamento

        th,
        td {
            border: 1px solid #ccc;
            padding: 15px;
            font-size: 1rem;
        }

        th {
            background-color: #f5f5f5;
            font-weight: bold;
            text-transform: uppercase;
        }

        td {
            background-color: #f9f9f9;
        }

        .star-cell {
            padding: 5px 0;
        }
    }

    // Estilo para linhas alternadas (opcional)
    tr:nth-child(even) {
        background-color: #f3f3f3;
    }
}
@media (max-width: 320px) {
    .container {
        width: 100vw;
        display: flex;
        flex-direction: column;  
        .rating-table {
            width: 100vw;
            display: flex;
            flex-direction: column;
            table {
                width: 100vw;
                display: flex;
                flex-direction: column;
                th,
                td {
                    font-size: 0.8rem;
                }
    
                .star-cell {
                    padding: 3px 0;
                }
                tbody {
                    display: flex;
                    flex-direction: column;
                    min-width: 100vw;
                    tr {
                        display: flex;
                        flex-direction: row;
                        width: 25px;
                    }
                }
            }
        }
    }
}