.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 60vw;

    h1 {
        font-size: 24px;
    }

    .edit-button {
        display: flex;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        margin-left: 32px;
        img {
            width: 24px;
            height: 24px;
        }
    }
}
@media (max-width: 320px) {
    .header {
        width: 100%;
        h1 {
            font-size: 20px;
        }
        .edit-button {
            margin-left: 16px;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}