.container {
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    .submit {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .dateInput {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30vw;
            .label {
                font-size: 1.5vw;
                margin-bottom: 10px;
            }
            .date {
                width: 20vw;
                height: 5vh;
                font-size: 1.5vw;
                padding: 5px;
                border-radius: 7px;
            }
        }
        .buttonSubmit {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20vw;
                height: 6vh;
                background-color: #1B75BF;
                color: white;
                font-size: 1.5vw;
                border-radius: 32px;
                cursor: pointer;
                transition: 0.3s;
                border: none;
                &:hover {
                    background-color: #0b5a9b;
                    color: white;
                }
            }
        }
    }
}
@media (max-width: 320px) {
    .container {
        .submit {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .dateInput {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 70vw;
                .label {
                    font-size: 1.5rem;
                }
                .date {
                    width: 70vw;
                    height: 8vh;
                    font-size: 1.1rem;
                }
            }
            .buttonSubmit {
                margin-top: 32px;
                .button {
                    width: 70vw;
                    height: 10vh;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
@media (max-width: 425px) {
    .container {
        .submit {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .dateInput {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 70vw;
                .label {
                    font-size: 1.5rem;
                }
                .date {
                    width: 70vw;
                    height: 8vh;
                    font-size: 1.1rem;
                }
            }
            .buttonSubmit {
                margin-top: 32px;
                .button {
                    width: 70vw;
                    height: 10vh;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        .submit {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            .dateInput {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40vw;
                .label {
                    font-size: 1.5rem;
                }
                .date {
                    width: 40vw;
                    height: 8vh;
                    font-size: 1.1rem;
                }
            }
            .buttonSubmit {
                margin-left: 40px;
                .button {
                    width: 40vw;
                    height: 10vh;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .container {
        .submit {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            .dateInput {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 30vw;
                .label {
                    font-size: 1.5rem;
                }
                .date {
                    width: 30vw;
                    height: 6vh;
                    font-size: 1.1rem;
                }
            }
            .buttonSubmit {
                margin-left: 40px;
                .button {
                    width: 30vw;
                    height: 6vh;
                    font-size: 1.2rem;
                }
            }
        }
    }
}