.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    filter: blur(4px);
    .left {
        width: 40vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right {
        width: 60vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.lock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -65%);
}

.popUpMp {
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -58%);
    transform: translate(-55%, -75%);
}
@media (max-width: 1920px) {
    .container {
        height: auto;
        .left {
            width: 100%;
            height: auto;
        }
        .right {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}
@media (max-width: 1440px) {
    .container {
        height: auto;
        .left {
            width: 100%;
            height: auto;
        }
        .right {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}
@media (max-width: 1024px) {
    .container {
        height: auto;
        .left {
            width: 100%;
            height: auto;
        }
        .right {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .container {
        height: auto;
        .left {
            width: 100%;
            height: auto;
        }
        .right {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}
@media (max-width: 425px) {
    .container {
        flex-direction: column;
        height: auto;
        .left {
            width: 100%;
            height: auto;
        }
        .right {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}
@media (max-width: 320px) {
    .container {
        flex-direction: column;
        height: auto;
        .left {
            width: 100%;
            height: auto;
        }
        .right {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}