.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .left {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        justify-content: space-evenly;
    }
    .right {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        justify-content: center;
    }
    @media (max-width: 320px) {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100%;
        h1 {
            font-size: 48px;
            margin-bottom: 16px;
        }
    }
}