.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .left {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        justify-content: space-evenly;
    }
    .right {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        justify-content: space-evenly;
    }
}