.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .left {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        justify-content: space-evenly;
    }

    .right {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        justify-content: center;
    }
}
@media (max-width: 1920px) {
    .container {
        flex-direction: row;
        display: flex;
        justify-content: center;
        h1 {
            font-size: 40px;
            text-align: center;
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 1440px) {
    .container {
        flex-direction: row;
        display: flex;
        justify-content: center;
        h1 {
            font-size: 40px;
            text-align: center;
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 1024px) {
    .container {
        flex-direction: row;
        display: flex;
        justify-content: center;
        h1 {
            font-size: 40px;
            text-align: center;
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100vw;
        h1 {
            font-size: 40px;
            text-align: center;
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 425px) {
    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100vw;
        h1 {
            font-size: 40px;
            text-align: center;
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 320px) {
    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100vw;
        h1 {
            font-size: 40px;
            text-align: center;
            margin-bottom: 16px;
        }
    }
}