@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  margin: 10rem 0 0;
}
.plan1 {
  width: 25rem;
  height: 50rem;
  margin: 0 3rem 10rem;
  border-radius: 0.6875rem;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  box-shadow:
    -6px -6px 20.3px 0px rgba(77, 77, 77, 0.5),
    6px 6px 20.3px 0px rgba(77, 77, 77, 0.5);
  .image-title {
    display: flex;
    align-items: center;
    margin: 1rem 0 0 4rem;
    .title {
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      .text-title {
        color: #000;
        font-size: 1.7rem;
        font-weight: 700;
        margin: 0 0 0 0.6rem;
      }
    }
  }
  .benefits-list{
    display: flex;
    align-items: center;
    margin: 1rem 0 0 2rem;
    width: 20rem;
    }
   img{
    width: 4rem;
    height: 4rem;
    margin: 0 0.5rem 0 0;
   }
   .benefit{
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 0 0 ;
   }
   .decoration{
    margin: 0 0.5rem 0 0 ;
    font-size: 1.7rem;
   }
  }
  .plan2 {
    width: 25rem;
    height: 50rem;
    margin: 0 3rem 10rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.7rem;
    box-shadow:
      -6px -6px 20.3px 0px rgba(27, 117, 191, 0.5),
      6px 6px 20.3px 0px rgba(27, 117, 191, 0.5);
    border: 1px solid #1b75bf;

    .image-title {
      display: flex;
      align-items: center;
      margin: 1rem 0 0 4rem;
      .title {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-title-monthly {
          color: #1B75BF;
          font-size: 1.7rem;
          font-weight: 700;
          margin: 0 0 0 0.6rem;
        }
      }
    }
    .benefits-list{
      display: flex;
      align-items: center;
      margin: 1rem 0 0 2rem;
      width: 20rem;
      }
     img{
      width: 4rem;
      height: 4rem;
      margin: 0 0.5rem 0 0;
     }
     .benefit{
      color: #000;
      font-size: 1rem;
      font-weight: 400;
      margin: 0 0 0 0 ;
     }
     .decoration{
      margin: 0 0.5rem 0 0 ;
      font-size: 1.7rem;
     }
  /*  :root {
      --gradient-shadow: linear-gradient(
        45deg,
        #fb0094,
        #0000ff,
        #00ff00,
        #ffff00,
        #ff0000,
        #fb0094,
        #0000ff,
        #00ff00,
        #ffff00,
        #ff0000
      );
    }
    body {
      margin: 0;
      padding: 0;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .shadow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      color: #fff;
      text-align: center;
      font-size: 50px;
      font-weight: bold;
      width: 400px;
      height: 250px;
      background: linear-gradient(0deg, #000, #262626);
    }
    .shadow:before,
    .shadow:after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      background: var(--gradient-shadow);
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: -1;
      animation: animate 20s linear infinite;
    }
    
    .shadow:after {
      filter: blur(20px);
    }
    
    @keyframes animate {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 300% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    
    */
     animation: rotateShadow 2s infinite linear;
     @keyframes rotateShadow {
      0% {
        box-shadow: 0 0 20px 5px rgba(105, 117, 191, 0.5), 10px 0 30px rgba(0, 0, 0, 0.4);
      }
      25% {
        box-shadow: 0 0 30px 10px rgba(13, 97, 223, 0.7), 0 10px 30px rgba(0, 0, 0, 0.4);
      }
      50% {
        box-shadow: 0 0 40px 15px rgba(33, 106, 224, 0.9), -10px 0 30px rgba(0, 0, 0, 0.4);
      }
      75% {
        box-shadow: 0 0 30px 10px rgba(36, 136, 230, 0.7), 0 -10px 30px rgba(0, 0, 0, 0.4);
      }
      100% {
        box-shadow: 0 0 20px 5px rgba(27, 86, 173, 0.5), 10px 0 30px rgba(0, 0, 0, 0.4);
      }
    }
  }
  .plan3 {
    width: 25rem;
    height: 50rem;
    margin: 0 3rem 10rem;
    border-radius: 0.6875rem;
    border: 2px solid #EFB810;
    background: #ffffff;
    box-shadow: -6px -6px 20.3px 0px rgba(239, 184, 16, 0.50), 6px 6px 20.3px 0px rgba(239, 184, 16, 0.50);
    .image-title {
      display: flex;
      align-items: center;
      margin: 1rem 0 0 4rem;
      .title {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-title {
          color: #EFB810;
          font-size: 1.7rem;
          font-weight: 700;
          margin: 0 0 0 0.6rem;
        }
      }
    }
    .benefits-list{
      display: flex;
      align-items: center;
      margin: 1rem 0 0 2rem;
      width: 20rem;
      }
     img{
      width: 4rem;
      height: 4rem;
      margin: 0 0.5rem 0 0;
     }
     .benefit{
      color: #000;
      font-size: 1rem;
      font-weight: 400;
      margin: 0 0 0 0 ;
     }
     .decoration{
      margin: 0 0.5rem 0 0 ;
      font-size: 1.7rem;
     }
  }