.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0;
  padding: 40px;
}
.plan1 {
  height: 42rem;
  margin: 0 3rem;
  border-radius: 0.6875rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #4f5255;
  box-shadow: 
    -6px -6px 20.3px 0px rgba(92, 93, 94, 0.5),
    6px 6px 20.3px 0px rgba(71, 72, 73, 0.5);
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--gradient-shadow-gray);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -10;
    animation: animate 15s linear infinite;
    filter: blur(20px);
  }

.image-title {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0rem;
  flex-direction: column;
  
  .title {
    position: relative;
    right: 8px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-title,
    .text-title-month {
      font-size: 1.7rem;
      font-weight: 700;
      margin-left: 0.6rem;
    }
  }
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  margin: 8.8rem 0 0 0.8rem;
  width: 100%;
  flex-direction: column;

  h2 {
    position: relative;
    left: 2px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

img {
  margin: 0 0.5rem 0 0;
}

.benefit {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  column-gap: 5px;
}

.decoration {
  width: 32px;
  height: 32px;
  color: #1B75BF;
  font-size: 1.7rem;
  column-gap: 5px;

  img {
    height: 26px;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.sign{
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-top: 118px;

  button {
    width: 13rem;
    height: 3.5rem;
    background-color: #0B2F34;
    color: #fff;
    border: 1px solid #7A7A7A;
    border-radius: 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 2rem;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #3d4545;
      transform: scale(1.05);
    }
  }
}
}

.plan2 {
  height: 42rem;
  margin: 0 3rem;
  border-radius: 0.6875rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #1b75bf;
  box-shadow: 
    -6px -6px 20.3px 0px rgba(27, 117, 191, 0.5),
    6px 6px 20.3px 0px rgba(27, 117, 191, 0.5);
    position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--gradient-shadow-blue);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -10;
    animation: animate 15s linear infinite;
    filter: blur(20px);
  }

.image-title {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0rem;
  flex-direction: column;

  .image {
    position: relative;
    right: 4px;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 12px;

    .text-title{
      color: #1B75BF;
      font-size: 1.7rem;
      font-weight: 700;
      margin-left: 0.6rem;
    }
  }
}

.container-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2.5rem;
    }
  }

  .warning {
    position: relative;
    right: 5px;

    p {
      font-size: 14px;
    }
  }
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  margin: 3.5rem 0 0 0.8rem;
  width: 100%;
  flex-direction: column;

  h2 {
    position: relative;
    left: 2px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

img {
  margin: 0 0.5rem 0 0;
}

.benefit {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  column-gap: 5px;
}

.decoration {
  width: 32px;
  height: 32px;
  color: #1B75BF;
  font-size: 1.7rem;
  column-gap: 5px;

  img {
    height: 26px;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.sign{
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  button {
    width: 13rem;
    height: 3.5rem;
    background-color: #1B75BF;
    color: #fff;
    border: 1px solid #095492;
    border-radius: 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #082664;
      border: 1px solid #1B75BF;
      transform: scale(1.05);
    }
  }

}
}

.plan3 {
  height: 42rem;
  margin: 0 3rem;
  border-radius: 0.6875rem;
  border: 2px solid #EFB810;
  background: #ffffff;
  box-shadow: 
    -6px -6px 20.3px 0px rgba(239, 184, 16, 0.50),
    6px 6px 20.3px 0px rgba(239, 184, 16, 0.50);
    position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--gradient-shadow-gold);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -10;
    animation: animate 15s linear infinite;
    filter: blur(20px);
  }

.image-title {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0rem;
  flex-direction: column;

  .image {
    position: relative;
    right: 4px;
  }
  
  .title {
    position: relative;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-title{
      color: #EFB810;
      font-size: 1.7rem;
      font-weight: 700;
      margin-left: 0.6rem;
    }
  }
}

.container-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .discount {
    .red-price {
      text-decoration: line-through;
      color: #E3373D;
      font-weight: bolder;
    }
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2.5rem;
    }
  }

  .warning {
    position: relative;
    right: 5px;
    width: 330px;
    text-align: center;

    p {
      font-size: 14px;
    }
  }
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  margin: 1.5rem 0 0 0.8rem;
  width: 100%;
  flex-direction: column;

  h2 {
    position: relative;
    left: 2px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

img {
  margin: 0 0.5rem 0 0;
}

.benefit {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  column-gap: 5px;
}

.decoration {
  width: 32px;
  height: 32px;
  color: #1B75BF;
  font-size: 1.7rem;
  column-gap: 5px;

  img {
    height: 26px;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sign{
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  button {
    width: 13rem;
    height: 3.5rem;
    background-color: #EFB810;
    color: #000000;
    border: 1px solid #AA8309;
    border-radius: 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #c1940f;
      transform: scale(1.05);
    }
  }

}
}