.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
  margin: 0 0;

}
.plan1 {
  width: 25rem;
  height: 50rem;
  margin: 0 3rem;
  border-radius: 0.6875rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #4f5255;
  box-shadow: 
    -6px -6px 20.3px 0px rgba(92, 93, 94, 0.5),
    6px 6px 20.3px 0px rgba(71, 72, 73, 0.5);
    position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--gradient-shadow-gray);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -10;
    animation: animate 15s linear infinite;
    filter: blur(20px);
  }

.image-title {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 4rem;
  
  .title {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-title,
    .text-title-month {
      font-size: 1.7rem;
      font-weight: 700;
      margin-left: 0.6rem;
    }
  }
}

.benefits-list {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 2rem;
  width: 20rem;
}

img {
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem 0 0;
}

.benefit {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  
}

.decoration {
  margin: 0 0.5rem 0 0;
  font-size: 1.7rem;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.sign{
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 30rem;

  button {
    width: 13rem;
    height: 3.5rem;
    background-color: #0B2F34;
    color: #fff;
    border: 1px solid #7A7A7A;
    border-radius: 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #3d4545;
      transform: scale(1.05);
    }
  }
}
}

.plan2 {
  width: 25rem;
  height: 50rem;
  margin: 0 3rem;
  border-radius: 0.6875rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #1b75bf;
  box-shadow: 
    -6px -6px 20.3px 0px rgba(27, 117, 191, 0.5),
    6px 6px 20.3px 0px rgba(27, 117, 191, 0.5);
    position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--gradient-shadow-blue);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -10;
    animation: animate 15s linear infinite;
    filter: blur(20px);
  }

.image-title {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 4rem;
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    .text-title{
      color: #1B75BF;
      font-size: 1.7rem;
      font-weight: 700;
      margin-left: 0.6rem;
    }
  }
}

.benefits-list {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 2rem;
  width: 20rem;
}

img {
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem 0 0;
}

.benefit {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  
}

.decoration {
  color: #1B75BF;
  margin: 0 0.5rem 0 0;
  font-size: 1.7rem;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.sign{
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 39.79%;
  button {
    width: 13rem;
    height: 3.5rem;
    background-color: #1B75BF;
    color: #fff;
    border: 1px solid #095492;
    border-radius: 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #082664;
      border: 1px solid #1B75BF;
      transform: scale(1.05);
    }
  }

}
}

.plan3 {
  width: 25rem;
  height: 50rem;
  margin: 0 3rem;
  border-radius: 0.6875rem;
  border: 2px solid #EFB810;
  background: #ffffff;
  box-shadow: 
    -6px -6px 20.3px 0px rgba(239, 184, 16, 0.50),
    6px 6px 20.3px 0px rgba(239, 184, 16, 0.50);
    position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: var(--gradient-shadow-gold);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -10;
    animation: animate 15s linear infinite;
    filter: blur(20px);
  }

.image-title {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 4rem;
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    .text-title{
      color: #EFB810;
      font-size: 1.7rem;
      font-weight: 700;
      margin-left: 0.6rem;
    }
  }
}

.benefits-list {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 2rem;
  width: 20rem;
}

img {
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem 0 0;
}

.benefit {
  font-size: 1rem;
  font-weight: 400;
}

.decoration {
  color: #EFB810;
  margin: 0 0.5rem 0 0;
  font-size: 1.7rem;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sign{
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 34.7%;
  button {
    width: 13rem;
    height: 3.5rem;
    background-color: #EFB810;
    color: #000000;
    border: 1px solid #AA8309;
    border-radius: 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #c1940f;
      transform: scale(1.05);
    }
  }

}
}