.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;

    .skills-table {
        background-color: none;

        table {
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: none;
            overflow: hidden;
            font-family: 'Poppins', sans-serif;
            border: 1px solid #313131;

            thead {
                tr {
                    th {
                        padding: 12px;
                        text-align: left;
                        font-weight: bold;
                    }
                }
            }

            tbody {
                tr {
                    border: 1px solid #313131;

                    td {
                        padding: 12px;
                        text-align: center;
                    }

                    &.odd {
                        background-color: #f4f4f4;
                    }

                    &.even {
                        background-color: #fff;

                    }

                    .skill-name {
                        background-color: #e0e0e0;
                        padding: 5px 12px;
                        border-radius: 15px;
                        font-size: 14px;
                    }
                }
            }
        }

        .dropdown {
            border: 1px solid #313131;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            .dropdown-content {
                display: flex;
                justify-content: space-between;
                margin: 10px 0 10px 10px;

                .input {
                    width: 22vw;
                    height: 40px;
                    padding: 10px;
                    border: 1px solid #313131;
                    border-radius: 8px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    background-color: #fff;
                    color: #313131;
                }

                .select {
                    width: 16vw;
                    height: 40px;
                    padding: 10px;
                    border: 1px solid #313131;
                    border-radius: 8px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    background-color: #fff;
                    color: #313131;
                    cursor: pointer;

                    option {
                        font-family: 'Poppins', sans-serif;
                        font-size: 14px;
                        background-color: #fff;
                        color: #313131;
                    }
                }
                .button {
                    width: 8vw;
                    height: 40px;
                    padding: 10px;
                    margin-right: 10px;
                    border: none;
                    border-radius: 32px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    background-color: #1B75BF;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        background-color: #0b5a9b;
                    }
                }
            }
        }
    }
}