.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.25);
    background-color: transparent;
}
@media (max-width: 320px) {
    .container {
        width: 100vw;
    }
}
