@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background-color: #bf1b1b;
    color: white;
    font-size: 2.2rem;
}
.check p{
    font-size: 9.5rem;
    font-weight: 400;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.text {
    margin-top: 2rem;
}