.title {
    text-align: center;
    font-size: 2.5rem;
}

.question {
    margin-top: 30px;
    padding-left: 40px;
    color: #1B75BF;
}

.container-response {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    padding: 0 40px;
}

.container-freelancer, .container-client {
    display: flex;
    width: 400px;
    height: 300px;
    row-gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.container-freelancer:hover, .container-client:hover {
    border: 1px solid #1B75BF;
}

.container-freelancer.active, .container-client.active {
    border: 2px solid #1B75BF;
}

.freelancer-img, .client-img {
    width: 200px;
}

.intention {
    font-weight: bolder;
}

.container-continue {
    display: flex;
    margin-top: 30px;
    justify-content: flex-end;
    padding: 0 40px;
}

.continue {
    display: flex;
    width: 140px;
    height: 45px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #95989b;
    color: #FDFDFD;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    border-radius: 20px;
}

.continue.activeContinue {
    background-color: #1B75BF;
    cursor: pointer;
}

.next {
    width: 20px;
}