.login {
    width: 465px;
    height: 4vh;
    margin: 0 0 3vh;
    p{
        text-align: end;
        font-size: 0.75rem;
        color: #fff;
    }
    .router{
        color: #fff;
        font-weight: 500;
        text-decoration: none;
    }
}