.login {
    height: 4vh;
    margin: 0 0 3vh;
    p{
        justify-content: end;
        text-align: end;
        width: 30vw;
        margin: 0.4vh 0 5vh;
        font-size: 0.75rem;
        color: #fff;
    }
    .router{
        color: #fff;
        font-weight: 500;
        text-decoration: none;
    }
}