@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    font-family: 'poppins';
}
.containerForm {
    display: flex;
    height: 100vh;
    background-color: #0B2F34;
    width: 70vw;
    header {
        display: flex;
        width: 8vw;
        height: 4vh;
        margin: 4vh 5vw;
    }
}
.title{
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    margin: 0 0 2xrem;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    margin: 10vh 0 0;
    .form-control {
        width: 30vw;
        height: 6vh;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid #fff;
        background: #0B2F34;
        margin: 1rem 0 10rem 0;
        color: #fff;
        font-size: 1rem;
        padding: 10px;
        outline: none;
    }
    .inputBox {
        position: relative;
        .labelInput {
            position: absolute;
            top: 0.85rem;
            left: 0.7rem;
            pointer-events: none;
            transition: 0.4s;
            color: rgb(255, 255, 255);
            font-size: 1rem;
            z-index: 9999;
            background-color:#0B2F34;
            margin: 0.8rem 0 1rem;
            padding: 0.2rem;
        }
        .labelInput::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition: 0.4s;
            color: #fff;
        }
        .form-control:focus~.labelInput,
        .form-control:not(:placeholder-shown)~.labelInput {
            top: -10%;
            font-size: 0.85rem;
            margin-left: 1vw;
            color: #ffffff;
        }
        input {
            margin-bottom: 0.5rem;
        }
    }
}