.icons{
    display: flex;
    gap: 48px;
    justify-content: center;
    .icon-container{
        padding: 0.4rem;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 2rem;
            height: 2rem;
        }
    }

}
    