.register {
    width: 15vw;
    height: 7vh;
    border-radius: 400px;
    border: 1px solid rgba(122, 122, 122, 1);
    background: #0B2F34;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0.3rem 0 2.5rem;
    cursor: pointer;
}

.register:hover {
    background-color: #FDFDFD;
    color: #000;
    border: none;
    transition: 0.2s;
}